@using iClassic.Helper;
@model iClassic.Models.PhieuSua

@{
    ViewBag.Title = Model.Id > 0 ? "Sửa lại" : "Thêm mới";
    ViewBag.Class = "fa fa-dollar";
    ViewBag.Breadcrumbs = "<a href='" + Url.Action("Index") + "'>Phiếu sửa chữa</a>" +
                          "<span>"+ViewBag.Title+"</span>";
}

<div class="row mb10 mt10">
    <div class="col-md-12">
        <h3 class="panel-title">
            @ViewBag.Title
        </h3>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.BranchId)
                    <div class="form-group">
                        @Html.LabelFor(model => model.CustomerId)
                        @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "select2", data_placeholder = "Nhập tên hoặc SĐT khách hàng..." })
                        @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SoTien)
                        @Html.EditorFor(model => model.SoTien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SoTien, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NoiDung)
                        @Html.TextAreaFor(model => model.NoiDung, new { @class = "form-control", rows = "4" })
                        @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Created)
                        <input type="text" name="Created" value="@Model.Created.ToString("dd/MM/yyyy HH:mm:ss")" class="form-control datepicker" />
                        @Html.ValidationMessageFor(model => model.Created, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NgayTra)
                        <input type="text" name="NgayTra" value="@Model.NgayTra.ToString("dd/MM/yyyy HH:mm:ss")" class="form-control datepicker" />
                        @Html.ValidationMessageFor(model => model.NgayTra, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Status)
                        <select name="Status" class="form-control">
                            @foreach (var item in Helpers.GetTicketStatusList())
                            {
                                <option value="@item.Key" @(item.Key == Model.Status ? "selected" : "")>@item.Value</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-lightblue" type="submit" onclick="beforeSubmit();">Lưu</button>
    <a href="@Url.Action("Index")" class="btn btn-default">Quay lại</a>
}

@section Styles {
    <link href="@Url.Content("~/Content/bootstrap-datetimepicker.css")" rel="stylesheet" />
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/jquery.maskMoney.min.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
    <script>
        function beforeSubmit() {
            var sotienObj = $("#SoTien");
            var value = sotienObj.val().replace(/,/g, '');
            sotienObj.val(value);
        }
        $(function () {
            $('#SoTien').maskMoney({ precision: 0 });

            $('.datepicker').datetimepicker({
                format: 'DD/MM/YYYY HH:mm:ss',
                //maxDate: moment()
            });
        })
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
