@using iClassic.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/images/logo.png" type="image/png">
    <title>@ViewBag.Title - iClassic</title>
    <link href="../../css/style.default.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="signin">
    <section>
        <div class="signinpanel">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                <div class="text-center mb10">
                    <img src="../../images/logo.png" />
                </div>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4 class="nomargin">Sign In</h4>
                        <p class="mt5 mb20">Login to access your account.</p>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Username" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                        <input type="submit" value="Sign in" class="btn btn-success btn-block" />
                    }
                </div><!-- col-sm-5 -->

            </div><!-- row -->
            <div class="signup-footer">
                <div class="pull-left">
                    &copy; 2016. iClassic
                </div>
            </div>

        </div><!-- signin -->

    </section>

    <script src="@Url.Content("~/js/jquery-1.11.1.min.js")"></script>
    <script src="@Url.Content("~/js/jquery-migrate-1.2.1.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/modernizr.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.sparkline.min.js")"></script>
    <script src="@Url.Content("~/js/toggles.min.js")"></script>
    <script src="@Url.Content("~/js/retina.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.cookies.js")"></script>
    <script src="@Url.Content("~/js/custom.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        jQuery(document).ready(function () {
            //if (location.protocol != 'https:') {
            //    location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
            //}

            // Please do not use the code below
            // This is for demo purposes only
            var c = jQuery.cookie('change-skin');
            if (c && c == 'greyjoy') {
                jQuery('.btn-success').addClass('btn-orange').removeClass('btn-success');
            } else if (c && c == 'dodgerblue') {
                jQuery('.btn-success').addClass('btn-primary').removeClass('btn-success');
            } else if (c && c == 'katniss') {
                jQuery('.btn-success').addClass('btn-primary').removeClass('btn-success');
            }
        });
    </script>
</body>
</html>
