
@using iClassic.Helper;
@using iClassic.Models;
@model IQueryable<ReportCustomChanelAdvertising>

@{
    ViewBag.Title = "Kênh quảng cáo";
    ViewBag.Class = "fa fa-globe";
    ViewBag.Breadcrumbs = "<a href='" + Url.Action("Index") + "'>Thống kê</a>" +
                          "<span>" + ViewBag.Title + "</span>";
    var searchModel = ViewBag.SearchModel as StatisticSearch;
}

<div class="row mb10 mt10">
    <div class="col-md-12">        
        <h3 class="panel-title">
            @ViewBag.Title
        </h3>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Get, new { role = "form", id = "frmSearch" }))
{
    @Html.Hidden("SortName", searchModel.SortName)
    @Html.Hidden("SortOrder", searchModel.SortOrder)
    <div class="row">
        <div class="col-md-3">
            <div class="input-group">
                <input type="text" class="form-control" name="SearchText" placeholder="Tìm kiếm" value="@searchModel.SearchText">
                <span class="input-group-addon" id="btnSearch"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
}
<div class="table-responsive mt10">
    <table class="table table-dark" cellspacing="0">
        <tr>
            <th>STT</th>
            <th>
                <a href="javascript:void(0)" class="sortField" data-sortName="Chanel">Kênh quảng cáo?</a>
            </th>
            <th>
                <a href="javascript:void(0)" class="sortField" data-sortName="Soluong">Số lượng</a>
            </th>
        </tr>

        @{
            var stt = 1;
            foreach (var item in Model)
            {
                <tr class="stat even">
                    <td class="ac">
                        @(stt++)
                    </td>
                    <td>
                        @(Constant.ListKenhQuangCao.FirstOrDefault(m => m.Key == item.Type).Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                </tr>
            }
        }
    </table>
</div>