@using iClassic.Helper;
@using iClassic.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<ReportCustomVip>

@{
    ViewBag.Title = "Khách hàng thường xuyên";
    ViewBag.Class = "fa fa-bar-chart-o";
    ViewBag.Breadcrumbs = "<a href='" + Url.Action("Index") + "'>Thống kê</a>" +
                          "<span>" + ViewBag.Title + "</span>";
    var searchModel = ViewBag.SearchModel as StatisticSearch;
}

<div class="row mb10 mt10">
    <div class="col-md-12">
        <a href="@Url.Action("NewOrEdit")" class="btn btn-lightblue btn-sm pull-right">In thống kê</a>
        <h3 class="panel-title">
            @ViewBag.Title
        </h3>
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Get, new { role = "form", id = "frmSearch" }))
{
    @Html.Hidden("SortName", searchModel.SortName)
    @Html.Hidden("SortOrder", searchModel.SortOrder)
    <div class="row">
        <div class="col-md-3">
            <div class="input-group">
                <input type="text" class="form-control" name="SearchText" placeholder="Tìm kiếm" value="@searchModel.SearchText">
                <span class="input-group-addon" id="btnSearch"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
}
<div class="table-responsive mt10">
    <table class="table table-dark" cellspacing="0">
        <tr>
            <th>STT</th>
            <th>
                <a href="javascript:void(0)" class="sortField" data-sortName="KH">Khách hàng</a>
            </th>
            <th>
                <a href="javascript:void(0)" class="sortField" data-sortName="SolanMay">Đơn hàng đã may</a>
            </th>
            <th>
                <a href="javascript:void(0)" class="sortField" data-sortName="SoSanPhamMay">Sản phẩm đã may</a>
            </th>
            <th>
                <a href="javascript:void(0)" class="sortField" data-sortName="SolanSua">Sản phẩm đã sửa</a>
            </th>
            <th>
                <a href="javascript:void(0)" class="sortField" data-sortName="Total">Tổng tiền</a>
            </th>
        </tr>

        @{
            var stt = 1;
            foreach (var item in Model)
            {
                <tr class="stat even">
                    <td class="ac">
                        @(stt++)
                    </td>
                    <td>
                        @item.Customer.MaKH -
                        @item.Customer.TenKH (@item.Customer.SDT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLanMay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoSanPhamDaMay)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLanSua)
                    </td>
                    <td>
                        @item.Total.ToString("N0") ₫
                    </td>
                </tr>
            }
        }
    </table>
</div>
<div class="row">
    <div class="col-md-12">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
        new
        {
            page,
            searchModel.BranchId,
            searchModel.SearchText,
            searchModel.SortOrder,
            searchModel.PageSize
        }))
    </div>
</div>