@model string
@{
    ViewBag.Title = "Thống kê";
    ViewBag.Class = "fa fa-bar-chart-o";
    ViewBag.Breadcrumbs = ViewBag.Title;
}

<div class="panel panel-default boxStatistic">
    <div class="panel-heading">
        <h3 class="panel-title">Biểu đồ thống kê</h3>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="col-md-12">
                <select id="cboGraph" class="form-control">                   
                    <option value="1">7 ngày gần nhất</option>
                    <option value="2">Tháng này - Tháng @DateTime.Now.ToString("MM")</option>
                    <option value="3">Tháng trước - Tháng @DateTime.Now.AddMonths(-1).ToString("MM")</option>
                    <option value="4">6 tháng gần nhất</option>
                    <option value="5">Từ khi thành lập</option>
                </select>
            </div>
        </div>
    </div>
    <div class="panel-body-nopadding relative">
        <div class="text-center">
            <h4>Lợi nhuận</h4>
            <div id="legendChartMoney" class=""></div>
        </div>
        <div id="chartMoney" class="body-chart"></div>
    </div>
</div>
@section Styles{
    <link href="@Url.Content("~/Content/morris.css")" rel="stylesheet" />
    <style>
        .relative {
            position: relative;
        }

        #legendChartActivity, #legendChartMoney {
            position: absolute;
            top: 2px;
            right: 2px;
        }

        .mbox {
            display: inline-block;
            width: 80px;
            margin-left: 1px;
            padding: 2px 0;
            text-align: center;
            color: #fff;
        }

        .panel-default > .panel-heading .badge {
            background-color: #428BCA !important;
            border-radius: 8px !important;
        }
    </style>
}

@section Scripts{
    <script src="@Url.Content("~/Scripts/morris.min.js")"></script>
    <script src="@Url.Content("~/Scripts/raphael.min.js")"></script>
    <script>

        jQuery(document).ready(function () {

            "use strict";

            var delay = (function () {
                var timer = 0;
                return function (callback, ms) {
                    clearTimeout(timer);
                    timer = setTimeout(callback, ms);
                };
            })();

            // Statistics Lợi nhuận For  Network
            var statsMoneyLabels = ['Thu', 'Chi', 'Lợi nhuận'];
            var statsMoneyColors = ['#428BCA', '#D9534F', '#1CAF9A'];
            var statsMoney = new Morris.Line({
                // ID of the element in which to draw the chart.
                element: 'chartMoney',
                // Chart data records -- each entry in this array corresponds to a point on
                // the chart.
                data: JSON.parse("@ViewBag.JsonData".replace(/&quot;/g, '"')),
                //data: [{ "Time": "0", "Thu": 2, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "1", "Thu": 0, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "2", "Thu": 0, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "3", "Thu": 0, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "4", "Thu": 35, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "5", "Thu": 9, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "6", "Thu": 10, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "7", "Thu": 1, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "8", "Thu": 2, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "9", "Thu": 0, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "10", "Thu": 0, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "11", "Thu": 5, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "12", "Thu": 0, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "13", "Thu": 0, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "14", "Thu": 0, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "15", "Thu": 0, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "16", "Thu": 0, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "17", "Thu": 0, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "18", "Thu": 0, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "19", "Thu": 0, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "20", "Thu": 0, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "21", "Thu": 0, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "22", "Thu": 0, "Chi": 0, "Lợi nhuận": 0 }, { "Time": "23", "Thu": 0, "Chi": 0, "Lợi nhuận": 0 }],
                preUnits: '$',
                yLabelFormat: function (y) { return formatMoney(y); },
                xkey: 'Time',
                ykeys: ['Thu', 'Chi', 'Lợi nhuận'],
                labels: statsMoneyLabels,
                lineColors: statsMoneyColors,
                lineWidth: '2px',
                hideHover: true,
                parseTime: false
            });

            statsMoneyLabels.forEach(function (label, i) {
                var legendlabel = $('<span style="display: inline-block;">' + label + '</span>');
                var legendItem = $('<div class="mbox"></div>').css('background-color', statsMoneyColors[i])
                    .append(legendlabel);
                $('#legendChartMoney').append(legendItem);
            });

            jQuery(window).resize(function () {
                delay(function () {
                    statsMoney.redraw();
                }, 200);
            }).trigger('resize');

            $("#cboGraph").change(function () {
                var $this = $(this);
                var type = $this.val();
                $(".boxStatistic").css("opacity", "0.5");
                $this.attr("disabled", "disabled");
                $.getJSON('@Url.Action("GetGraph")?type=' + type, function (data) {
                    if (data.Data && data.Data.length > 0) {
                        statsMoney.setData(JSON.parse(data.Data));
                    }
                    $(".boxStatistic").css("opacity", "1");
                    $this.removeAttr("disabled");
                });
            });
        });
    </script>
}