@model CalcMean.Models.ThongKe

@{
    ViewBag.Title = Common.Decode(Model.DotChot.Title);
}

<br />
<div class="row">
    <div class="col-md-12">
        <label>Đợt chốt</label>
        @using (Html.BeginForm())
        {
            @Html.DropDownList("chotSoId", ViewBag.ChotSoId as SelectList, new { Class = "form-control", onchange = "form.submit();" })
        }

    </div>
</div>
<br />

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr class="active">
                <td>
                    Thời gian từ
                </td>
                <td>
                    @Model.DotChot.StartDate - @Model.DotChot.EndDate
                </td>
            </tr>
            <tr>
                <td>
                    Tổng thu
                </td>
                <td>
                    @Model.TongThu.ToString("C0")
                </td>
            </tr>
            <tr class="active">
                <td>
                    Tháng trước còn dư
                </td>
                <td>
                    @Model.TienThuaThangTruoc.ToString("C0")
                </td>
            </tr>
            <tr>
                <td>
                    Tổng chi chưa gạo
                </td>

                <td>
                    @Model.TongChiChuaGao.ToString("C0")
                </td>
            </tr>
            <tr class="active">
                <td>
                    Tổng tiền gạo đã chén
                </td>

                <td>
                    @Model.TongTienGao.ToString("C0")
                </td>
            </tr>
            <tr>
                <td>
                    Tổng chi toàn bộ
                </td>

                <td>
                    @Model.TongChi.ToString("C0")
                </td>
            </tr>
            <tr class="active">
                <td>
                    Tiền trong hộp còn
                </td>

                <td class="bg-danger">
                    @((Model.TongThu + Model.TienThuaThangTruoc - Model.TongChi).ToString("C0"))

                </td>
            </tr>
            <tr>
                <td>
                    Trạng thái
                </td>

                <td>
                    @if (Model.DotChot.IsChot)
                    {
                        <span class="label label-success">Đã chốt</span>
                    }
                    else
                    {
                        <span class="label label-danger">Chưa chốt</span>
                    }
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="col-md-12">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Người ăn</th>
                <th>Đã nộp </th>
                <th>Ăn hết </th>
                <th>Tiền gạo</th>
                <th>Tiền tháng trước</th>
                <th>Còn thiếu </th>
                <th>Còn thừa </th>
            </tr>
        </thead>
        <tbody>
            @{
                var i = 1;
                foreach (var item in Model.List)
                {
                    var cls = i % 2 == 0 ? "Class=active" : "";
                    <tr @cls>
                        <td>@(i++)</td>
                        <td>@Common.Decode(item.User.Name)</td>
                        <td>@item.TongDaNop.ToString("C0") </td>
                        <td>@item.TongDaAn.ToString("C0") </td>
                        <td>@item.TienGao.ToString("C0") </td>
                        <td>@item.TienThuaThangTruoc.ToString("C0") </td>
                        <td>
                            @{
                    var thieu = (item.TongDaAn + item.TienGao) - item.TongDaNop - item.TienThuaThangTruoc;
                    if (thieu > 0)
                    {
                        <span class="bg-danger">- @thieu.ToString("C0")</span>
                    }
                    else
                    {
                        @("0")
                    }
                            }
                        </td>
                        <td>
                            @{
                    var thua = item.TongDaNop + item.TienThuaThangTruoc - (item.TongDaAn + item.TienGao);
                    if (thua > 0)
                    {
                        <span class="bg-success">+ @thua.ToString("C0")</span>
                    }
                    else
                    {
                        @("0")
                    }
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
</div>
<p>
    @Html.ActionLink("Danh sách đợt chốt sổ", "Index", "DotChotSo", null, new { @class = "btn btn-default" })
</p>
