@using iClassic.Helper;
@using iClassic.Models;
@model LoaiVai

@{
    var listProductType = ViewBag.ProductTypeList as IQueryable<ProductType>;
    var index = 0;
}
<div class="row">
    <div class="col-md-6">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.BranchId)
        <div class="form-group">
            @Html.LabelFor(model => model.MaVai)
            @Html.EditorFor(model => model.MaVai, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaVai, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <h4>@Html.LabelFor(model => model.ProductTypeLoaiVai)</h4>
                    <div class="row">
                        @foreach (var item in listProductType)
                        {
                            var productVai = Model.ProductTypeLoaiVai.FirstOrDefault(m => m.ProductTypeId == item.Id);
                            <div class="col-md-2 col-sm-3 col-xs-6">
                                <small>@item.Name</small>
                                <input type="hidden" name="ProductTypeLoaiVai[@index].ProductTypeId" value="@item.Id" />
                                <input type="text" name="ProductTypeLoaiVai[@index].Price" value="@(productVai != null ?productVai.Price : 0)" class="form-control price" />
                            </div>
                            index++;
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Note)
                @Html.TextAreaFor(model => model.Note, new { @class = "form-control", rows = "5" })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
