@using iClassic.Models;
@model iClassic.Models.LoaiVai

@{
    ViewBag.Title = Model.Id > 0 ? "Sửa lại" : "Thêm mới";
    ViewBag.Class = "fa fa-bars";
    ViewBag.Breadcrumbs = "<a href='" + Url.Action("Index") + "'>Loại vải</a>" +
                          "<span>" + ViewBag.Title + "</span>";
    var listProductType = ViewBag.ProductTypeList as IQueryable<ProductType>;
    var index = 0;
}

<div class="row mb10 mt10">
    <div class="col-md-12">
        <h3 class="panel-title">
            @ViewBag.Title
        </h3>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-body">
            @Html.Partial("_FormPartial", Model)
        </div>
    </div>
    <button class="btn btn-lightblue" type="submit" onclick="beforeSubmit();">Lưu</button>
    <a href="@Url.Action("Index")" class="btn btn-default">Quay lại</a>
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/jquery.maskMoney.min.js")"></script>
    <script>
        function beforeSubmit() {
            $(".price").each(function () {
                var $this = $(this);
                var value = $this.val().replace(/,/g, '');
                $this.val(value);
            });
        }
        $(function () {
            $('.price').maskMoney({ precision: 0 });
            $('.price').focus();
        })
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
