@using CalcMean.Models
@model DotChotSo

@{
    ViewBag.Title = (Model.Id > 0 ? "Sửa" : "Thêm") + " đợt chốt sổ";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.IsChot)
        @Html.HiddenFor(model => model.CreateBy)
        @Html.HiddenFor(model => model.StartDate)
        <div class="form-group">
            <label class="control-label col-md-2">Tiêu đề</label>
            <div class="col-md-10">
                <textarea name="Title" class="form-control" id="Title" rows="5">@Common.Decode(Model.Title)</textarea>
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Tiền tháng trước</label>
            <div class="col-md-10">
                <input type="text" id="SoTien" class="form-control" name="TienThuaThangTruoc" value="@Model.TienThuaThangTruoc" />
                @Html.ValidationMessageFor(model => model.TienThuaThangTruoc)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" onclick="return beforAddMoney();"/>
                <a href="@Url.Action("Index")" class="btn btn-default">Quay lại</a>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
