@using System.Globalization
@model IEnumerable<CalcMean.Models.DotChotSo>

@{
    ViewBag.Title = "Danh sách các đợt chốt sổ";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Tạo mới", "CreateOrEdit", null, new { Class = "btn btn-primary" })
</p>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>#</th>
                <th>
                    Tiêu đề
                </th>
                <th>
                    Thời gian
                </th>
                <th>
                    Tổng thu
                </th>
                <th>
                    Tiền tháng trước
                </th>
                <th>
                    Tiền gạo
                </th>
                <th>
                    Tổng chi
                </th>
                <th>
                    Trạng thái
                </th>
                <th></th>
            </tr>

            <tbody>
                @{
                    var i = 1;
                    foreach (var item in Model)
                    {
                        var cls = i % 2 == 0 ? "Class=active" : "";
                        <tr @cls>
                            <td>@(i++)</td>
                            <td>
                                @Common.Decode(item.Title)
                            </td>
                            <td>
                                @item.StartDate.ToString("dd/MM/yyyy") - @(item.EndDate.HasValue ? item.EndDate.Value.ToString("dd/MM/yyyy") : "#")
                            </td>
                            <td>
                                @(item.TongThu.HasValue ? item.TongThu.Value.ToString("C0") : "0")
                            </td>
                            <td>
                                @(item.TienThuaThangTruoc.HasValue ? item.TienThuaThangTruoc.Value.ToString("C0") : "0")
                            </td>
                            <td>
                                @(item.TienGao.Sum(m => m.SoTien).ToString("C0"))
                            </td>
                            <td>
                                @(item.TongChi.HasValue ? item.TongChi.Value.ToString("C0") : "0")
                            </td>
                            <td>
                                @if (item.IsChot)
                                {
                                    <span class="label label-success">Đã chốt</span>
                                }
                                else
                                {
                                    <span class="label label-danger">Chưa chốt</span>
                                }

                            </td>
                            <td>
                                @if (item.IsChot)
                                {
                                    <div class="row">
                                        @Html.ActionLink("Chi tiết", "Index", "ThongKe", new { dotChotId = item.Id }, new { Class = "btn btn-xs btn-primary" })
                                    </div>
                                }
                                else
                                {
                                    <div class="row">
                                        @Html.ActionLink("Chốt sổ", "ChotSo", new { id = item.Id }, new { Class = "btn btn-xs btn-primary confirmDelete" })
                                        @Html.ActionLink("Sửa ", "CreateOrEdit", new { id = item.Id }, new { Class = "btn btn-xs btn-default" })
                                        @Html.ActionLink("Xóa ", "Delete", new { id = item.Id }, new { Class = "confirmDelete btn btn-xs btn-danger" })
                                    </div>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>

        </table>
    </div>
</div>
