@using iClassic.Helper;
@using iClassic.Models;
@using Newtonsoft.Json;
@model Invoice
@{
    var loaivai = ViewBag.MaVaiId as IQueryable<LoaiVai>;
    var listProductType = (ViewBag.ProductTypeList as IQueryable<ProductType>).ToList();
    var listTho = ViewBag.ListThoMayDo as IQueryable<Tho>;
    var listHangThe = ViewBag.ListHangThe as IQueryable<MemberCard>;
    var ngaythu = (DateTime)ViewBag.NgayThu;
}
<script>
    function changeChietKhau() {
        var typeChietKhau = $("#ChietKhauType").val();
        var tongTien = parseInt($("#Total").val()) | 0;
        var chietKhau = parseInt($("#ChietKhau").val().replace(/,/g, '')) | 0;

        if (typeChietKhau == '@((byte)ChietKhauType.PhanTram)') {
            var percentChietKhau = chietKhau;
            chietKhau = tongTien == 0 || percentChietKhau == 0 ? 0 : (percentChietKhau * tongTien / 100);

            $("#lblSoTienChietKhau span").text(formatMoney(chietKhau));
            $("#lblSoTienChietKhau").slideDown();
        } else {
            $("#lblSoTienChietKhau").slideUp();
        }

        var datcoc = parseInt($("#DatCoc").val().replace(/,/g, '')) | 0;
        var conthieu = tongTien - datcoc - chietKhau;
        $("#TienConThieu").html(formatMoney(conthieu));
    }

    // không được xóa
    function addCustomerExist(sdt) {
        $('#modalDefault').modal('hide');
        alertError("Đã có khách hàng được tạo với SĐT: \"" + sdt + "\" này! \nVui lòng copy SĐT trên vào ô search để được kết quả đúng nhất!")
    }
    function EditCustomerSuccessed(tenKH) {
        $('#modalDefault').modal('hide');
        alertSuccess("Cập nhật số đo \"" + tenKH + "\" thành công!");
    }
    function addCustomerSuccessed(model) {
        $('#modalDefault').modal('hide');
        $('#CustomerId').select2('destroy');
        $('#CustomerId').append('<option value="' + model.Id + '">' + model.TenKH + '(' + model.SDT + ')</option>');
        $('#CustomerId').val(model.Id);
        $('#CustomerId').select2({ width: '100%' });
        GetMemberCard();
    }
    function showNewCustomerModal(isEdit) {
        var id = isEdit ? $("#CustomerId").val() : '';
        $.ajax({
            url: '@Url.Action("NewOrEdit", "Customer")' + '/' + id,
            dataType: "html",
            type: "GET",
            contentType: 'application/html; charset=utf-8',
            success: function (data) {
                $("#modalDefault").html(data);
                $("#modalDefault").modal("show");
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    }
    var loaiVaiSelected;
    function addLoaiVaiSuccessed(model) {
        loaiVai.push(model);
        $('#modalDefault').modal('hide');
        $('.loaivai').select2('destroy');
        $('.loaivai').each(function (i, obj) {
            var selectedValue = $(obj).val();
            var index = $(".loaivai").index(loaiVaiSelected)
            $(obj).append('<option value="' + model.Id + '">' + model.Name + '(' + model.MaVai + ')</option>');
            $(obj).val(selectedValue);
            loaiVaiSelected.val(model.Id);
            $('html, body').animate({ scrollTop: loaiVaiSelected.offset().top }, 'slow');
            $(obj).select2({ width: '100%' });
        });
        updateSoTienItem();
    }
    function showNewLoaiVaiModal(e) {
        loaiVaiSelected = $(e).parents(".boxVaiExtend").find("select.loaivai");
        $.ajax({
            url: '@Url.Action("NewOrEdit", "LoaiVai")',
            dataType: "html",
            type: "GET",
            contentType: 'application/html; charset=utf-8',
            success: function (data) {
                $("#modalDefault").html(data);
                $("#modalDefault").modal("show");
            },
            error: function (xhr) {
                alert(xhr);
            }
        });
    }
    function GetMemberCard() {
        var id = $('#CustomerId').val();
        $.get("@Url.Action("GetMemberCard", "Customer")/" + id
                , function (data) {
                    var name = '';
                    if (data.Data.Id > 0) {
                        name = data.Data.Name;
                    } else {
                        name = 'Register';
                    }
                    $("#lblMemberCard").attr('data-id', data.Data.Id);
                    $("#lblMemberCard, .lblHangThe").html(name);
                    updateSoTienItem();
                });
    }
    function showInfoCard() {
        var id = $('#lblMemberCard').attr('data-id');
        $.get("@Url.Action("GetInfoCard", "MemberCard")/" + id
                , function (data) {
                    $("#modalDefault").html(data);
                    $("#modalDefault").modal("show");
                });
    }
    var inputKieuCachCurrent;
    function showKieuCachHayDung(e) {
        inputKieuCachCurrent = $(e).parents(".media").find(".tensanpham");
        var productId = parseInt($(e).parents(".media").find("input[type='radio']:checked").val()) | 0;
        var product = getProduct(productId);
        var html = generateKieuCachHtml(product);
        $("#modalDefault").html(html);
        $("#modalDefault").modal("show");
    }

    function generateKieuCachHtml(product) {
        var html = "<div class='modal-dialog modal-lg'>                                                                   " +
                    "    <div class='modal-content'>                                                                       " +
                    "        <div class='modal-header'>                                                                    " +
                    "            <button aria-hidden='true' data-dismiss='modal' class='close' type='button'>×</button>    " +
                    "            <h4 class='modal-title'> Kiểu cách của \"" + product.Name + "\"</h4>                                                         " +
                    "        </div>                                                                                        " +
                    "        <div class='modal-body'>                                                                      " +
                    "            <div class='row'>                                                                         " +
                    "                ";
        if (product.KieuCach.length == 0) {
            html += "   <h4>Không có kiểu cách hay dùng nào!</h4>";
        } else {
            for (var i = 0; i < product.KieuCach.length; i++) {
                var kc = product.KieuCach[i];
                html += "   <div class='col-sm-6'>";
                html += "       <div class='ckbox ckbox-default'>";
                html += "           <input type='checkbox' value='" + kc + "' id='checkboxDefault" + i + "'>";
                html += "           <label for='checkboxDefault" + i + "'>" + kc + "</label>";
                html += "       </div>";
                html += "   </div>";
            }

        }
        html += "   </div>" +
                    "       </div>" +
                    "        <div class='modal-footer'>                                                                      " +
                    "               <div class='form-group mt10'>" +
                    "	                <a href='javascript:void(0)' class='btn btn-primary' onclick='addKieuCachHayDung();'>Thêm</a>" +
                    "	                <a href='javascript:void(0)' class='btn btn-default' data-dismiss='modal'>Đóng</a>" +
                    "               </div>" +
                    "        </div>                                                                                        " +
                    "    </div>                                                                                            " +
                    "</div>";
        return html;
    }

    function addKieuCachHayDung() {
        var data = "";
        $("#modalDefault").find("input[type='checkbox']:checked").each(function (i, obj) {
            var tagVal = $(obj).val();
            if (inputKieuCachCurrent.val().indexOf(tagVal) == -1) {
                inputKieuCachCurrent.addTag(tagVal);
            }
        });
        $("#modalDefault").modal("hide");
    }

    var phieuSanXuatModels = JSON.parse("@JsonConvert.SerializeObject(Model.PhieuSanXuat.Select(m=>new {m.Id,m.TenSanPham,m.DangNguoi,m.ProductTypeId,m.MaVaiId,m.SoLuong,m.ThoCatId,m.ThoDoId,m.ThoMayId,m.HasVai,m.VaiType, m.GiaVaiMau, NgayThu = (m.NgayThu.HasValue ? m.NgayThu.Value : ngaythu).ToString("dd/MM/yyyy HH:mm"), m.Status}))".replace(/&quot;/g, '"'));
    var listProductType = JSON.parse("@JsonConvert.SerializeObject(listProductType.Select(m=>new {m.Id,m.Name,m.Price,m.IsFitting, KieuCach= !string.IsNullOrEmpty(m.Note)? m.Note.Split(','): new string[0] }))".replace(/&quot;/g, '"'));
    var loaiVai = JSON.parse("@JsonConvert.SerializeObject(loaivai.Select(m=> new {m.Id,m.Name,m.MaVai,ProductTypeLoaiVai=m.ProductTypeLoaiVai.Select(n=>new { n.ProductTypeId, n.Price })}))".replace(/&quot;/g, '"'));
    var vaiTypes = JSON.parse("@JsonConvert.SerializeObject(Helpers.GetVaiTypeList())".replace(/&quot;/g, '"'));
    var listTho = JSON.parse("@JsonConvert.SerializeObject(listTho.Select(m=> new {m.Id, m.Name, m.Type}))".replace(/&quot;/g, '"'));
    var listThoDo = JSON.parse("@JsonConvert.SerializeObject(listTho.Where(m=>m.Type == (byte)ThoTypes.Do).Select(m=> new {m.Id, m.Name, m.Type}))".replace(/&quot;/g, '"'));
    var listThoCat = JSON.parse("@JsonConvert.SerializeObject(listTho.Where(m=>m.Type == (byte)ThoTypes.Cat || m.Type == (byte)ThoTypes.CatMay).Select(m=> new {m.Id, m.Name, m.Type}))".replace(/&quot;/g, '"'));
    var listThoMay = JSON.parse("@JsonConvert.SerializeObject(listTho.Where(m=>m.Type == (byte)ThoTypes.May || m.Type == (byte)ThoTypes.CatMay).Select(m=> new {m.Id, m.Name, m.Type}))".replace(/&quot;/g, '"'));
    var vaiKhachMangDen = parseInt("@((byte)VaiTypes.KhachMangVaiDen)");
    var vaiKhongCoSan = parseInt("@((byte)VaiTypes.KhongCoSan)");
    var vaiMauTaiShop = parseInt("@((byte)VaiTypes.VaiMauCuaHang)");
    var hangthe = JSON.parse("@JsonConvert.SerializeObject(listHangThe.Select(m=>new {m.Id,m.Name,m.BirthDayDiscount,m.NguoiThanDiscount,m.SoTien, ProductMemberCard = m.ProductMemberCard.Select(n=> new {n.ProductId, ProductName = n.ProductType.Name, n.Discount})}))".replace(/&quot;/g, '"'));

    $(function () {

        $('.price').maskMoney({ precision: 0 });
        formatPrices();

        $('.datepicker').datetimepicker({
            format: 'DD/MM/YYYY HH:mm:ss'
        });

        bindPhieuSanXuat();
        updateSoTienItem();

        $("#btnAddPhieuSanXuat").on("click", function () {

            updatePhieuSanXuatData();

            var defaultProduct = listProductType[0];
            var newPhieusx = {
                Id: 0,
                TenSanPham: '',
                DangNguoi: '',
                ProductTypeId: listProductType[0].Id,
                MaVaiId: loaiVai[0].Id,
                VaiType: vaiKhongCoSan,
                SoLuong: 1,
                GiaVaiMau: 0,
            };
            if (defaultProduct.IsFitting) {
                newPhieusx.Status = 0;
                newPhieusx.NgayThu = "@ngaythu.ToString("dd/MM/yyyy HH:mm")";
            }

            phieuSanXuatModels.push(newPhieusx);

            bindPhieuSanXuat();

            updateSoTienItem();
            return false;
        });

        if ('@Model.Id' == '0' || '@Model.Status' == '@((byte)TicketStatus.ChuaXuLy)') {
            GetMemberCard();
        } else {
            if ('@Model.MemberCardId.HasValue' == 'True') {
                $("#lblMemberCard, .lblHangThe").html('@(Model.MemberCardId.HasValue? Model.MemberCard.Name: "Register")');
                $("#lblMemberCard").attr('data-id', '@(Model.MemberCardId ?? 0 )');
            } else {
                $("#lblMemberCard").attr('data-id', '0');
                $("#lblMemberCard").html('Register');
            }
        }
        $('#CustomerId').change(function () {
            GetMemberCard();
        });

        changeChietKhau();
        $('#ChietKhau, #ChietKhauType').change(function () {
            changeChietKhau();
        });
    });

    function updateSoTienItem() {
        var tongtien = 0;
        $('#boxPhieuSanXuat .media').each(function (i, element) {
            var obj = $(element);

            var loaivaiId = parseInt(obj.find("select.loaivai").val()) | 0;
            var soluong = parseInt(obj.find(".soluong").val()) | 0;
            var productTypeId = parseInt(obj.find("input[type='radio']:checked").val()) | 0;
            var vaiType = parseInt(obj.find("select.vaiTypes").val());
            var giaVaiMau = parseInt(obj.find(".GiaVaiMau").val().replace(/,/g, '')) | 0;

            // hide if customer has vai
            if (vaiType == vaiKhachMangDen) {
                obj.find(".boxVaiExtend").slideUp();
            }
            else {
                obj.find(".boxVaiExtend").slideDown();
                if (vaiType == vaiKhongCoSan) {
                    obj.find("select.loaivai, .HasVai").parent().slideDown();
                    obj.find(".GiaVaiMau").parent().slideUp();
                }
                if (vaiType == vaiMauTaiShop) {
                    obj.find("select.loaivai, .HasVai").parent().slideUp();
                    obj.find(".GiaVaiMau").parent().slideDown();
                }
            }

            var dongia = getPrice(vaiType, loaivaiId, productTypeId, giaVaiMau);
            var discount = {};
            var cardId = $('#lblMemberCard').attr('data-id');
            if (vaiType !== vaiKhachMangDen && cardId > 0) {
                var cardProduct = getProductMemberCard(productTypeId, cardId);
                if (cardProduct.Discount) {
                    var priceDiscount = dongia * cardProduct.Discount / 100;
                    dongia = dongia - priceDiscount;
                    discount.Money = priceDiscount;
                    discount.Percent = cardProduct.Discount;
                }
            }

            if (discount.Percent) {
                obj.find(".boxDiscount").slideDown();
                obj.find(".discountPercent").text(discount.Percent);
                obj.find(".discountMoney").text(formatMoney(discount.Money));
            } else {
                obj.find(".boxDiscount").slideUp();
            }

            var thanhtien = dongia * soluong;
            obj.find(".giatien").html(formatMoney(thanhtien));

            tongtien += thanhtien;
        });

        $('#boxPhieuSua .media').each(function (i, element) {
            var obj = $(element);
            var sotien = parseInt(obj.find(".sotien").val().replace(/,/g, '')) | 0;
            tongtien += sotien;
        });

        $("#Total").val(tongtien);
        $("#lblTotal").html(formatMoney(tongtien));

        var datcoc = parseInt($("#DatCoc").val().replace(/,/g, '')) | 0;
        var chietKhau = parseInt($("#ChietKhau").val().replace(/,/g, '')) | 0;

        if (tongtien > 0) {
            var typeChietKhau = $("#ChietKhauType").val();
            var chietKhau = parseInt($("#ChietKhau").val().replace(/,/g, '')) | 0;
            if (typeChietKhau == '@((byte)ChietKhauType.PhanTram)') {
                var percentChietKhau = chietKhau;
                chietKhau = tongtien == 0 || percentChietKhau == 0 ? 0 : (percentChietKhau * tongtien / 100);
            }
        }

        var conthieu = tongtien - datcoc - chietKhau;
        $("#TienConThieu").html(formatMoney(conthieu));
    }

    function getPrice(vaiType, loaivaiId, productTypeId, giaVaiMau) {
        var dongia = 0;
        var product = getProduct(productTypeId);
        var tiencong = product.Price | 0;

        if (vaiType == vaiKhachMangDen) {
            dongia = tiencong;
        }
        else {
            if (vaiType == vaiKhongCoSan) {
                var giaVaiBanRa = 0;

                $.each(loaiVai, function (index, item) {
                    if (item.Id != loaivaiId) return;

                    $.each(item.ProductTypeLoaiVai, function (index, typeitem) {
                        if (typeitem.ProductTypeId != productTypeId) return;

                        giaVaiBanRa = typeitem.Price;
                        return false;
                    });
                    return false;
                });

                dongia = giaVaiBanRa;
            }
            if (vaiType == vaiMauTaiShop) {
                dongia = giaVaiMau;
            }
        }
        return dongia;
    }

    function getProduct(id) {
        var product = {};
        $.each(listProductType, function (index, item) {
            if (item.Id != id) return;

            product = item;
            return false;
        });
        return product;
    }

    function getProductMemberCard(productId, cardId) {
        var result = {};
        $.each(hangthe, function (indexCard, card) {
            if (card.Id != cardId) return;

            //ProductId, ProductName = n.ProductType.Name, n.Discount
            $.each(card.ProductMemberCard, function (i, product) {
                if (product.ProductId != productId) return;

                result = product;
                return false;
            });
            return false;
        });
        return result;
    }

    function showHideFittingDate(e) {
        var productId = $(e).val();
        var product = getProduct(productId);

        var ngayThuObj = $(e).parents(".media").find(".boxNgayThu");

        if (product.IsFitting) {
            ngayThuObj.slideDown();
        } else {
            ngayThuObj.slideUp();
        }
    }

    function updateTitleItem(e) {
        var obj = $(e);
        var title = obj.next().text();
        obj.parents(".media").find(".title-tenspmay").html(title);
    }

    function productClick(e) {
        updateTitleItem(e);
        showHideFittingDate(e);
        updateSoTienItem();

    }

    function removePhieuSx(e) {
        if (confirm("Bạn có chắc chắn muốn xóa sản phẩm này?")) {
            $(e).parents(".media").remove();

            updatePhieuSanXuatData();

            bindPhieuSanXuat();

            updateSoTienItem();
        }
    }

    function updatePhieuSanXuatData() {
        phieuSanXuatModels = [];
        $('#boxPhieuSanXuat .media').each(function (i, element) {
            var obj = $(element);
            var phieusx = {};
            phieusx.Id = parseInt(obj.find(".idsanpham").val()) | 0;
            phieusx.TenSanPham = obj.find(".tensanpham").val();
            phieusx.DangNguoi = obj.find(".DangNguoi").val();
            phieusx.ProductTypeId = parseInt(obj.find("input[type='radio']:checked").val()) | 0;
            phieusx.MaVaiId = parseInt(obj.find("select.loaivai").val()) | 0;
            phieusx.SoLuong = parseInt(obj.find(".soluong").val()) | 0;
            phieusx.HasVai = obj.find(".HasVai").val() == 'true';
            phieusx.VaiType = parseInt(obj.find(".vaiTypes").val()) | 0;
            phieusx.GiaVaiMau = parseInt(obj.find(".GiaVaiMau").val().replace(/,/g, '')) | 0;
            phieusx.NgayThu = obj.find(".NgayThu").val();
            phieusx.Status = parseInt(obj.find(".Status").val()) | 0;
            phieuSanXuatModels.push(phieusx);
        });
    }

    function bindPhieuSanXuat() {
        var box = $('#boxPhieuSanXuat');
        var html = "";
        $.each(phieuSanXuatModels, function (index, item) {
            var dongia = getPrice(item.VaiType, item.MaVaiId, item.ProductTypeId, item.GiaVaiMau);
            var discount = {};
            var cardId = $('#lblMemberCard').attr('data-id');
            if (item.VaiType !== vaiKhachMangDen && cardId > 0) {
                var cardProduct = getProductMemberCard(item.ProductTypeId, cardId);
                if (cardProduct.Discount) {
                    var priceDiscount = dongia * cardProduct.Discount / 100;
                    dongia = dongia - priceDiscount;
                    discount.Money = priceDiscount;
                    discount.Percent = cardProduct.Discount;
                }
            }
            var giatien = formatMoney(dongia * item.SoLuong);

            var productSelected = getProduct(item.ProductTypeId);
            html += "<div class='media'>";
            html += "   <h4 class='text-warning'>" + (index + 1) + ". May <span class='title-tenspmay'>" + productSelected.Name + "</span> <span class='pull-right' onclick='removePhieuSx(this);'>x</span></h4>";
            html += "   <div class='form-group'>";
            var typecount = 0;
            $.each(listProductType, function (i, product) {
                var id = "rdoProductType" + index + "-" + typecount;
                var hasValue = product.Id == item.ProductTypeId;
                html += "   <div class='rdio rdio-default pull-left mr20'>";
                html += "       <input type='radio' name='PhieuSanXuat[" + index + "].ProductTypeId' id='" + id + "' value='" + product.Id + "' " + (hasValue ? "checked" : "") + " onclick='productClick(this);'>";
                html += "       <label for='" + id + "'>" + product.Name + "</label>";
                html += "   </div>";
                typecount++;
            });
            html += "   </div>";
            html += "   <div class='form-group'>";
            html += "       <input type='hidden' name='PhieuSanXuat[" + index + "].Id' value='" + item.Id + "'  class='idsanpham'/>";
            html += "       <label>Kiểu cách (<a href='javascript:void(0);' onclick='showKieuCachHayDung(this);'>KC hay dùng</a>)</label>";
            html += "       <textarea name='PhieuSanXuat[" + index + "].TenSanPham' class='form-control tensanpham' placeholder='Kiểu cách'>" + (item.TenSanPham ? item.TenSanPham : '') + "</textarea>";
            html += "   </div>";
            html += "   <div class='form-group'>";
            html += "       <label>Dáng người</label>";
            html += "       <textarea name='PhieuSanXuat[" + index + "].DangNguoi' class='form-control DangNguoi' placeholder='Dáng người'>" + (item.DangNguoi ? item.DangNguoi : '') + "</textarea>";
            html += "   </div>";
            html += "   <div class='form-group'>";
            html += "       <div class='row'>";
            html += "           <div class='col-sm-8'>";
            html += "               <label>Tình trạng vải</label>";
            html += "               <select name='PhieuSanXuat[" + index + "].VaiType' class='form-control vaiTypes' onchange='updateSoTienItem();'>";
            $.each(vaiTypes, function (i, vai) {
                html += "               <option value='" + vai.Key + "'" + (vai.Key == item.VaiType ? "selected" : "") + ">";
                html += "                   " + vai.Value;
                html += "               </option>";
            });
            html += "               </select>";
            html += "           </div>";
            html += "           <div class='col-sm-4'>";
            html += "               <div class='form-group'>";
            html += "                    <label>Số lượng</label>";
            html += "                    <input type='number' name='PhieuSanXuat[" + index + "].SoLuong' value='" + item.SoLuong + "' min='1' class='form-control soluong'  onchange='updateSoTienItem();' />";
            html += "               </div>";
            html += "           </div>";
            html += "       </div>";
            html += "   </div>";
            html += "   <div class='form-group boxVaiExtend'  style='display: " + (item.VaiType == vaiKhachMangDen ? 'none' : 'block') + "'>";
            html += "       <div class='row'>";
            html += "           <div class='col-sm-6' style='display: " + (item.VaiType == vaiKhongCoSan ? 'block' : 'none') + "'>";
            html += "               <label>Tên vải (Mã vải)</label>";
            html += "               <select name='PhieuSanXuat[" + index + "].MaVaiId' class='select22 loaivai' data-placeholder='Nhập tên hoặc mã vải...' onchange='updateSoTienItem();'>";
            $.each(loaiVai, function (i, vai) {
                html += "               <option value='" + vai.Id + "'" + (vai.Id == item.MaVaiId ? "selected" : "") + ">";
                html += "                   " + vai.Name;
                if (vai.MaVai) {
                    html += "                   (" + vai.MaVai + ")";
                }
                html += "               </option>";
            });
            html += "               </select>";
            html += "           <p><a href='javascript:void(0)' onclick='showNewLoaiVaiModal(this);return false;'>Thêm loại vải</a></p>";
            html += "           </div>";
            html += "           <div class='col-sm-6' style='display: " + (item.VaiType == vaiKhongCoSan ? 'block' : 'none') + "'>";
            html += "               <label>Đã mua chưa?</label>";
            html += "               <select name='PhieuSanXuat[" + index + "].HasVai' class='form-control HasVai'>";
            html += "                   <option value='true'" + (item.HasVai ? "selected" : "") + ">Đã mua vải</option>";
            html += "                   <option value='false'" + (!item.HasVai ? "selected" : "") + ">Chưa mua vải</option>";
            html += "               </select>";
            html += "           </div>";
            html += "           <div class='col-md-12' style='display: " + (item.VaiType == vaiMauTaiShop ? 'block' : 'none') + "'>";
            html += "               <label>Giá tiền vải mẫu</label>";
            html += "               <input type='text' name='PhieuSanXuat[" + index + "].GiaVaiMau' value='" + item.GiaVaiMau + "' min='1' class='form-control price GiaVaiMau'  onchange='updateSoTienItem();' />";
            html += "           </div>";
            html += "       </div>";
            html += "   </div>";
            html += "   <div class='form-group'>";
            html += "       <div class='row'>";
            html += "           <div class='col-sm-4 col-xs-6'>";
            html += "               <label>Thợ đo</label>";
            html += "               <select name='PhieuSanXuat[" + index + "].ThoDoId' class='select22' data-placeholder='Nhập tên thợ...'>";
            $.each(listThoDo, function (i, tho) {
                html += "               <option value='" + tho.Id + "'" + (tho.Id == item.ThoDoId ? "selected" : "") + ">";
                html += "                   " + tho.Name;
                html += "               </option>";
            });
            html += "               </select>";
            html += "           </div>";
            html += "           <div class='col-sm-4 col-xs-6'>";
            html += "               <label>Thợ cắt</label>";
            html += "               <select name='PhieuSanXuat[" + index + "].ThoCatId' class='select22' data-placeholder='Nhập tên thợ...'>";
            $.each(listThoCat, function (i, tho) {
                html += "               <option value='" + tho.Id + "'" + (tho.Id == item.ThoCatId ? "selected" : "") + ">";
                html += "                   " + tho.Name;
                html += "               </option>";
            });
            html += "               </select>";
            html += "           </div>";
            html += "           <div class='col-sm-4 col-xs-6'>";
            html += "               <label>Thợ may</label>";
            html += "               <select name='PhieuSanXuat[" + index + "].ThoMayId' class='select22' data-placeholder='Nhập tên thợ...'>";
            $.each(listThoMay, function (i, tho) {
                html += "               <option value='" + tho.Id + "'" + (tho.Id == item.ThoMayId ? "selected" : "") + ">";
                html += "                   " + tho.Name;
                html += "               </option>";
            });
            html += "               </select>";
            html += "           </div>";
            html += "       </div>";
            html += "   </div>";
            var isToFittingDate = new Date(moment(item.NgayThu, 'DD/MM/YYYY HH:mm:ss')) <= new Date();
            html += "   <div class='form-group boxNgayThu' style='display: " + (productSelected.IsFitting ? 'block' : 'none') + "'>";
            html += "       <div class='row'>";
            html += "           <div class='" + (isToFittingDate ? "col-xs-6" : "col-xs-12") + "'>";
            html += "               <label>Ngày thử</label>";
            html += "               <input type='text' name='PhieuSanXuat[" + index + "].NgayThu' value='" + item.NgayThu + "'  class='NgayThu form-control'/>";
            html += "           </div>";
            html += "           <div class='col-xs-6' style='display: " + (isToFittingDate ? "block" : "none") + "'>";
            html += "               <label>Đã thử chưa?</label>";
            html += "               <select name='PhieuSanXuat[" + index + "].Status' class='form-control Status'>";
            html += "                   <option value='0'>Chưa thử</option>";
            html += "                   <option value='1'" + (item.Status == 1 ? "selected" : "") + ">Đã thử</option>";
            html += "               </select>";
            html += "           </div>";
            html += "       </div>";
            html += "   </div>";
            html += "   <label>Giá tiền: <strong class='text-success giatien'>" + giatien + "</strong></label>";
            html += "   <p class='boxDiscount' style='display: " + (discount.Money ? 'block' : 'none') + "'><small><i>Đã giảm <span class='discountPercent'>" + (discount.Percent | 0) + "</span>% (tức <span class='discountMoney'>" + formatMoney(discount.Money | 0) + "</span>) do khách là hạng thẻ <span class='lblHangThe'>" + $("#lblMemberCard").text() + "</span></i></small></p>";
            html += "</div>";
        });
        box.html(html);

        $("#soluongspcanmay").html(phieuSanXuatModels.length);

        jQuery(".select22").select2({
            width: '100%'
        });

        $('.tensanpham').tagsInput({ width: 'auto', defaultText: 'Thêm...' });

        $('.NgayThu').datetimepicker({
            format: 'DD/MM/YYYY HH:mm:ss'
        }).on("dp.change", function (e) {
            var dateChanged = new Date(e.date);
            var currentDate = new Date();

            var currentBox = $(e.currentTarget);
            var obj = currentBox.parents(".boxNgayThu").find(".Status").parent();
            if (dateChanged <= currentDate) {
                currentBox.parent().removeClass("col-xs-12").addClass("col-xs-6");
                obj.slideDown();
            } else {                
                obj.slideUp();
                setTimeout(function () {
                    currentBox.parent().removeClass("col-xs-6").addClass("col-xs-12");
                }, 600);
            }
        });

        var currentPosition = $(document).scrollTop();
        $('.price').maskMoney({ precision: 0 });
        formatPrices();
        $(document).scrollTop(currentPosition);
    }

    function beforeSubmit() {
        $(".price").each(function () {
            var $this = $(this);
            var value = $this.val().replace(/,/g, '');
            $this.val(value);
        });

        var countPhieuSx = parseInt($("#soluongspcanmay").text()) | 0;
        var countSua = parseInt($("#soluongspcansua").text()) | 0;
        if (countPhieuSx == 0 && countSua == 0) {
            alertError("Không có sản phẩm may hoặc sản phẩm sửa nào!");
            return false;
        }
        return true;
    }

    function btnConfirmXuLy() {
        return confirm("Bạn có chắc chắn muốn xử lý đơn hàng này?");
    }
</script>