@using iClassic.Helper;
@using iClassic.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<Invoice>

@{
    ViewBag.Title = "Đơn hàng";
    ViewBag.Class = "fa fa-dollar";
    ViewBag.Breadcrumbs = ViewBag.Title;
    var searchModel = ViewBag.SearchModel as InvoiceSearch;
}

<div class="row mb10 mt10">
    <div class="col-md-12">
        <a href="@Url.Action("NewOrEdit")" class="btn btn-lightblue btn-sm pull-right">Thêm mới</a>
        <h3 class="panel-title">
            @ViewBag.Title
        </h3>
    </div>
</div>
@using (Html.BeginForm(null, null, FormMethod.Get, new { role = "form", id = "frmSearch" }))
{
    @Html.Hidden("SortName", searchModel.SortName)
    @Html.Hidden("SortOrder", searchModel.SortOrder)
    <div class="row">
        <div class="col-md-3">
            <select name="Status" class="form-control" onchange="this.form.submit();">
                @foreach (var item in Helpers.GetTicketStatusList())
                {
                    <option value="@item.Key" @(item.Key == searchModel.Status ? "selected" : "")>@item.Value</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <input type="text" class="form-control" name="SearchText" placeholder="Tìm kiếm" value="@searchModel.SearchText">
                <span class="input-group-addon" id="btnSearch"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
}
<div class="table-responsive mt10">
    <table class="table table-dark" cellspacing="0">
        <tr>
            <th>
                <a href="javascript:void(0)" class="sortField" data-sortName="Code">
                    @Html.DisplayNameFor(m => m.FirstOrDefault().Code)
                </a>
            </th>
            <th>
                <a href="javascript:void(0)" class="sortField" data-sortName="KhachHang">
                    @Html.DisplayNameFor(m => m.FirstOrDefault().CustomerId)
                </a>
            </th>
            <th>
                <a href="javascript:void(0)" class="sortField" data-sortName="Total">
                    @Html.DisplayNameFor(m => m.FirstOrDefault().Total)
                </a>
            </th>
            <th>
                Còn thiếu
            </th>
            <th>
                <a href="javascript:void(0)" class="sortField" data-sortName="NgayThu">
                    @Html.DisplayNameFor(m => m.FirstOrDefault().NgayThu)
                </a>
            </th>
            <th>
                <a href="javascript:void(0)" class="sortField" data-sortName="NgayTra">
                    @Html.DisplayNameFor(m => m.FirstOrDefault().NgayTra)
                </a>
            </th>
            <th>
                <a href="javascript:void(0)" class="sortField" data-sortName="Status">
                    @Html.DisplayNameFor(m => m.FirstOrDefault().Status)
                </a>
            </th>
            <th>
                Đã mua vải ?
            </th>
        </tr>

        @{
            foreach (var item in Model)
            {
                <tr class="stat even">
                    <td>
                        <a href="@Url.Action("NewOrEdit", new { id = item.Id })">@item.Code</a>
                    </td>
                    <td>
                        @item.Customer.TenKH <br />
                        (@item.Customer.SDT)
                    </td>
                    <td class="text-success">
                        @item.Total.ToString("N0") ₫
                    </td>
                    <td class="text-danger">
                        @((item.Total - item.DatCoc - (item.ChietKhau ?? 0)).ToString("N0")) ₫
                    </td>
                    <td title="@item.NgayThu.ToString("dd/MM/yyyy HH:mm")">
                        @item.NgayThu.ToString("dd/MM/yyyy")
                    </td>
                    <td title="@item.NgayTra.ToString("dd/MM/yyyy HH:mm")">
                        @item.NgayTra.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.Raw(Helpers.DrawStatusTicket(item.Status))
                    </td>
                    <td>
                        @if (item.PhieuSanXuat.Count > 0)
                        {
                            var soluongchuamua = item.PhieuSanXuat.Count(m => !m.HasVai);
                            var soluongdamua = item.PhieuSanXuat.Count - soluongchuamua;

                            if (soluongdamua > 0)
                            {
                                <div>Đã mua: <strong>@soluongdamua</strong></div>
                            }

                            if (soluongchuamua > 0)
                            {
                                <div>Chưa mua: <strong>@soluongchuamua</strong></div>
                            }                            
                        }
                        else
                        {
                            <span>Khách chỉ sửa đồ</span>
                        }
                    </td>
                    @*<td>
                            <a href="@Url.Action("PrintPhieuHen", new { id=1})" target="_blank" class="btn btn-xs btn-primary">In Phiếu</a>
                            <a href="@Url.Action("NewOrEdit", new { id = item.Id })" class="btn btn-xs btn-primary">Sửa</a>
                            <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-xs btn-danger btnConfirm">Xóa</a>
                        </td>*@
                </tr>
            }
        }
    </table>
</div>
<div class="row">
    <div class="col-md-12">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
        new
        {
            page,
            searchModel.Status,
            searchModel.SearchText,
            searchModel.SortOrder,
            searchModel.PageSize
        }))
    </div>
</div>