@using iClassic.Helper;
@using iClassic.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<Invoice>

@{
    ViewBag.Title = "Đơn hàng";
    ViewBag.Class = "fa fa-dollar";
    ViewBag.Breadcrumbs = ViewBag.Title;
    var searchModel = ViewBag.SearchModel as InvoiceSearch;
}

<div class="row mb10 mt10">
    <div class="col-md-12">
        <a href="@Url.Action("NewOrEdit")" class="btn btn-lightblue btn-sm pull-right">Thêm mới</a>
        <h3 class="panel-title">
            @ViewBag.Title
        </h3>
    </div>
</div>
@using (Html.BeginForm(null, null, FormMethod.Get, new { role = "form", id = "frmSearch" }))
{
    @Html.Hidden("SortName", searchModel.SortName)
    @Html.Hidden("SortOrder", searchModel.SortOrder)
    @Html.Hidden("StatusVai", searchModel.StatusVai)
    @Html.Hidden("IsDenHanThu", searchModel.IsDenHanThu)
    @Html.Hidden("IsSapPhaiTra", searchModel.IsSapPhaiTra)
    <div class="row">
        <div class="col-md-3">
            <select name="Status" class="form-control" onchange="beforeSubmit(this);">
                <option value="">-Tất cả-</option>
                <option value="StatusVai" @(searchModel.StatusVai.HasValue && !searchModel.StatusVai.Value ? "selected" : "")>Chưa mua vải</option>
                <option value="IsDenHanThu" @(searchModel.IsDenHanThu.HasValue && searchModel.IsDenHanThu.Value ? "selected" : "")>Đến hạn thử</option>
                <option value="IsSapPhaiTra" @(searchModel.IsSapPhaiTra.HasValue && searchModel.IsSapPhaiTra.Value ? "selected" : "")>Đến hạn trả</option>
                @foreach (var item in Helpers.GetTicketStatusList())
                {
                    <option value="@item.Key" @(item.Key == searchModel.Status ? "selected" : "")>@item.Value</option>
                }
            </select>
        </div>
        <div class="col-md-3">
            <div class="input-group">
                <input type="text" class="form-control" name="SearchText" placeholder="Tìm kiếm" value="@searchModel.SearchText">
                <span class="input-group-addon" id="btnSearch"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
}
<div class="table-responsive mt10">
    <table class="table table-dark table-striped" cellspacing="0">
        <tr>
            <th>
                <a href="javascript:void(0)" class="sortField" data-sortName="Code">
                    Đơn hàng
                </a>
            </th>
            <th>
                Tiền
            </th>
            <th>
                <a href="javascript:void(0)" class="sortField" data-sortName="NgayThu">
                    @Html.DisplayNameFor(m => m.FirstOrDefault().NgayThu)
                </a>
            </th>
            <th>
                <a href="javascript:void(0)" class="sortField" data-sortName="NgayTra">
                    @Html.DisplayNameFor(m => m.FirstOrDefault().NgayTra)
                </a>
            </th>
            <th>
                Sản phẩm
            </th>
        </tr>
        @{
            foreach (var item in Model)
            {
                var chietKhau = item.ChietKhau;
                <tr class="stat even">
                    <td>
                        <a href="@Url.Action("NewOrEdit", new { id = item.Id })">@item.Code - @item.Customer.TenKH</a>    
                        <div style="padding: 2px 0 5px 0;">
                            @item.Customer.SDT
                        </div>
                        <div>
                            @Html.Raw(Helpers.DrawStatusTicket(item.Status))
                        </div>
                    </td>
                    <td>
                        <table class="table-money">
                            <tr class='text-success'>
                                <td>Tổng</td>
                                <td>@item.Total.ToString("N0") ₫</td>
                            </tr>
                            <tr>
                                <td>CK</td>
                                <td>
                                    @((item.ChietKhau ?? 0).ToString("N0"))
                                    @if (item.ChietKhauType == (byte)ChietKhauType.PhanTram)
                                    {
                                        var money = (item.Total * item.ChietKhau) ?? 0;
                                        chietKhau = money != 0 ? money / 100 : 0;
                                        <span>
                                            %
                                            (<i class="fa fa-exchange"></i>
                                            @((chietKhau ?? 0).ToString("N0")) ₫)
                                        </span>
                                    }
                                    else
                                    {
                                        @("₫")
                                    }
                                </td>
                            </tr>
                            @if (item.Status != (byte)TicketStatus.DaTraChoKhach)
                            {
                                <tr>
                                    <td>Cọc</td>
                                    <td>@((item.DatCoc ?? 0).ToString("N0")) ₫</td>
                                </tr>
                                <tr class="text-danger">
                                    <td>Thiếu</td>
                                    <td>@((item.Total - (item.DatCoc ?? 0) - (chietKhau ?? 0)).ToString("N0")) ₫</td>
                                </tr>
                            }
                        </table>
                    </td>
                    <td title="@(item.NgayThu.HasValue ? item.NgayThu.Value.ToString("dd/MM/yyyy HH:mm"): "")">
                        @(item.NgayThu.HasValue ? item.NgayThu.Value.ToString("dd/MM/yyyy") : "")
                    </td>
                    <td title="@item.NgayTra.ToString("dd/MM/yyyy HH:mm")">
                        @item.NgayTra.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @if (item.PhieuSanXuat.Count > 0)
                        {
                            <strong>May: @item.PhieuSanXuat.Count</strong>
                            foreach (var sp in item.PhieuSanXuat.OrderBy(n => n.VaiType).ThenBy(m=>m.ProductTypeId))
                            {
                                <div>
                                    <span class="text-info">+ @sp.SoLuong @sp.ProductType.Name:</span>
                                    @switch ((VaiTypes)sp.VaiType)
                                    {
                                        case VaiTypes.KhachMangVaiDen:
                                            <span>khách mang vải đến</span>
                                            break;
                                        case VaiTypes.KhongCoSan:
                                            if (sp.HasVai)
                                            {
                                                <span class="text-success">đã mua vải</span>
                                            }
                                            else
                                            {
                                                <span class="text-danger">chưa mua vải</span>
                                            }
                                            break;
                                        case VaiTypes.VaiMauCuaHang:
                                            <span class="text-info">vải mẫu tại shop</span>
                                            break;
                                    }
                                </div>
                            }
                        }
                        @if (item.PhieuSua.Count > 0)
                        {
                            <div class="mt10">
                                <strong>Sửa: @item.PhieuSua.Count</strong>
                            </div>
                        }
                    </td>
                </tr>
            }
        }
    </table>
</div>
<div class="row">
    <div class="col-md-12">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
        new
        {
            page,
            searchModel.StatusVai,
            searchModel.IsDenHanThu,
            searchModel.IsSapPhaiTra,
            searchModel.Status,
            searchModel.SearchText,
            searchModel.SortOrder,
            searchModel.PageSize
        }))
    </div>
</div>

@section Styles{
    <style>
        table.table-money tr td {
            padding: 0 0 0 0px;
        }

            table.table-money tr td:first-child {
                padding-right: 10px;
            }
    </style>
}

@section Scripts {
    <script>
        function beforeSubmit(e) {
            var value = $(e).val();
            $("#StatusVai,#IsSapPhaiTra,#IsDenHanThu").val('');
            switch (value) {
                case "IsSapPhaiTra":
                case "IsDenHanThu":
                    $("#" + value).val(true);
                    $(e).val("");
                    break;
                case "StatusVai":
                    $("#StatusVai").val(false);
                    $(e).val("");
                    break;
            }
            e.form.submit();
        }
    </script>
}