@using iClassic.Helper;
@using iClassic.Models;
@using Newtonsoft.Json;
@model iClassic.Models.Invoice

@{
    ViewBag.Title = Model.Id > 0 ? "Sửa lại" : "Thêm mới";
    ViewBag.Class = "fa fa-dollar";
    ViewBag.Breadcrumbs = "<a href='" + Url.Action("Index") + "'>Hóa đơn</a>" +
                          "<span>" + ViewBag.Title + "</span>";

    var loaivai = ViewBag.MaVaiId as IQueryable<LoaiVai>;
    var listProductType = ViewBag.ProductTypeList as IQueryable<ProductType>;
    var listTho = ViewBag.ListThoMayDo as IQueryable<Tho>;
    var listHangThe = ViewBag.ListHangThe as IQueryable<MemberCard>;
}

<div class="row mb10 mt10">
    <div class="col-md-12">
        <h3 class="panel-title">
            @ViewBag.Title
        </h3>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="" class="minimize">−</a>
                        <h4>Thông tin hóa đơn</h4>
                    </div>
                </div>
                <div class="panel-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.BranchId)
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomerId)
                                @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "select2", data_placeholder = "Nhập tên hoặc SĐT khách hàng..." })
                                <div class="row">
                                    <div id="boxHangThe" class="col-xs-6">
                                        Hạng thẻ:
                                        <a href="javascript:void(0)" onclick="showInfoCard();">
                                            <strong id="lblMemberCard"></strong>
                                        </a>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <a href="javascript:void(0)" onclick="showNewCustomerModal()">+ Thêm mới KH</a>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group" style="display: @(Model.PhieuSanXuat.Any(m=>m.ProductType!=null && m.ProductType.IsFitting) ? "block": "none");">
                                @Html.LabelFor(model => model.NgayThu)
                                <input type="text" name="NgayThu" value="@(Model.NgayThu.HasValue ? Model.NgayThu.Value.ToString("dd/MM/yyyy HH:mm"): "")" class="form-control datepicker" id="NgayThu" />
                                @Html.ValidationMessageFor(model => model.NgayThu, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NgayTra)
                                <input type="text" name="NgayTra" value="@Model.NgayTra.ToString("dd/MM/yyyy HH:mm:ss")" class="form-control datepicker" />
                                @Html.ValidationMessageFor(model => model.NgayTra, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Status):
                                @Html.Raw(Helpers.DrawStatusTicket((byte)TicketStatus.ChuaXuLy))
                                @Html.HiddenFor(model => model.Status)
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group tongtiengroup">
                                <label>
                                    @Html.HiddenFor(m => m.Total)
                                    Tổng tiền: <strong id="lblTotal" class="text-success">0 ₫</strong>
                                </label>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DatCoc)
                                @Html.EditorFor(model => model.DatCoc, new { htmlAttributes = new { @class = "form-control price", onchange = "updateSoTienItem();" } })
                                @Html.ValidationMessageFor(model => model.DatCoc, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ChietKhau)
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.ChietKhau, new { htmlAttributes = new { @class = "form-control price" } })
                                            <span class="input-group-addon">đ</span>
                                        </div>

                                    </div>
                                    <div class="col-xs-2 text-center">
                                        <label><=></label>
                                    </div>
                                    <div class="col-xs-5">
                                        <div class="input-group mb15">
                                            <input type="number" min="0" max="100" value="@(Model.ChietKhau.HasValue ? (Model.ChietKhau.Value * 100 /Model.Total): 0)" class="form-control percentChietKhau">
                                            <span class="input-group-addon">%</span>
                                        </div>
                                    </div>
                                </div>

                                @Html.ValidationMessageFor(model => model.ChietKhau, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label class="text-danger">Còn thiếu: <strong id="TienConThieu"></strong></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="" class="minimize">−</a>
                        <h4>Sản phẩm cần may? (<span id="soluongspcanmay"></span>)</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="widget-bloglist" id="boxPhieuSanXuat">

                    </div>
                    <div class="mt10">
                        <a href="javascript:void(0)" id="btnAddPhieuSanXuat">+ Thêm sản phẩm may</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="" class="minimize">−</a>
                        <h4>Sản phẩm cần sửa? (<span id="soluongspcansua"></span>)</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="widget-bloglist" id="boxPhieuSua">

                    </div>
                    <div class="mt10">
                        <a href="javascript:void(0)" id="btnAddPhieuSua">+ Thêm sản phẩm cần sửa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        @if (Model.Id > 0)
        {
            <a class="btn btn-default btn-xuly" href="@Url.Action("Proccess", new {id=Model.Id, status = (byte)TicketStatus.DangXuLy})" onclick="return btnConfirmXuLy();"><i class="fa fa-scissors mr5"></i>Xử lý</a>
            <div class="btn-group">
                <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-print"></i> In <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="@Url.Action("Print", new { id = Model.Id })" target="_blank">Đơn hàng</a></li>
                    <li><a href="@Url.Action("PrintPhieuSanXuat", new { id = Model.Id })" target="_blank">Phiếu sản xuất</a></li>
                    <li><a href="@Url.Action("PrintPhieuSua", new { id = Model.Id })" target="_blank">Phiếu sửa</a></li>
                </ul>
            </div>
            <a class="btn btn-danger btnConfirm" href="@Url.Action("Delete", new {id=Model.Id})"><i class="fa fa-times mr5"></i>Xóa</a>
        }
    </div>
    <div class="mb40 mt10">
        <button class="btn btn-lightblue" type="submit" onclick="return beforeSubmit();">@(Model.Id > 0 ? "Lưu" : "Tạo mới")</button>
        <a href="@Url.Action("Index")" class="btn btn-default">Quay lại</a>
    </div>
}

@section Styles {
    <link href="@Url.Content("~/Content/bootstrap-datetimepicker.css")" rel="stylesheet" />
    <style>
        @@media (min-width: 768px) {
            .tongtiengroup {
                margin: 50px 0 27px 0;
            }
        }

        .widget-bloglist .media {
            border-bottom: 1px solid #1d2939;
            padding-bottom: 10px;
        }

        .media h4 {
            padding-bottom: 5px;
            background: #1d2939;
            padding: 5px 10px;
            color: #ffffff;
        }

            .media h4 span:hover {
                cursor: pointer;
            }

        .btn-group {
            margin-bottom: 0;
        }

        .btn-xuly {
            background: #777;
            color: #fff;
        }
    </style>
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/jquery.maskMoney.min.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>

    @*Sản phẩm may*@

    <script>
        function changeChietKhau(type) {
            var tongTien = parseInt($("#Total").val()) | 0;
            var chietKhau = parseInt($("#ChietKhau").val().replace(/,/g, '')) | 0;
            if (type == 1) {
                var percentChietKhau = tongTien == 0 || chietKhau == 0 ? 0 : (chietKhau * 100 / tongTien);
                $(".percentChietKhau").val(percentChietKhau);
            } else {
                var percentChietKhau = parseInt($(".percentChietKhau").val()) | 0;
                chietKhau = tongTien == 0 || percentChietKhau == 0 ? 0 : (percentChietKhau * tongTien / 100);
                $("#ChietKhau").val(chietKhau);
            }

            var datcoc = parseInt($("#DatCoc").val().replace(/,/g, '')) | 0;
            var conthieu = tongTien - datcoc - chietKhau;
            $("#TienConThieu").html(formatMoney(conthieu));
            $("#ChietKhau").focus();
        }
        function addCustomerSuccessed(model) {
            $('#modalDefault').modal('hide');
            $('#CustomerId').select2('destroy');
            $('#CustomerId').append('<option value="' + model.Id + '">' + model.TenKH + '(' + model.SDT + ')</option>');
            $('#CustomerId').val(model.Id);
            $('#CustomerId').select2({ width: '100%' });
        }
        function showNewCustomerModal() {
            $.ajax({
                url: '@Url.Action("NewOrEdit", "Customer")',
                dataType: "html",
                type: "GET",
                contentType: 'application/html; charset=utf-8',
                success: function (data) {
                    $("#modalDefault").html(data);
                    $("#modalDefault").modal("show");
                },
                error: function (xhr) {
                    alert(xhr);
                }
            });
        }

        function GetMemberCard() {
            var id = $('#CustomerId').val();
            $.get("@Url.Action("GetMemberCard", "Customer")/" + id
                    , function (data) {
                        var name = '';
                        if (data.Data.Id > 0) {
                            name = data.Data.Name;
                        } else {
                            name = 'Register';
                        }
                        $("#lblMemberCard").attr('data-id', data.Data.Id);
                        $("#lblMemberCard, .lblHangThe").html(name);
                        updateSoTienItem();
                    });
        }
        function showInfoCard() {
            var id = $('#lblMemberCard').attr('data-id');
            $.get("@Url.Action("GetInfoCard", "MemberCard")/" + id
                    , function (data) {
                        $("#modalDefault").html(data);
                        $("#modalDefault").modal("show");
                    });
        }

        var phieuSanXuatModels = JSON.parse("@JsonConvert.SerializeObject(Model.PhieuSanXuat.Select(m=>new {m.Id,m.TenSanPham,m.DangNguoi,m.ProductTypeId,m.MaVaiId,m.SoLuong,m.ThoCatId,m.ThoDoId,m.ThoMayId,m.HasVai,m.VaiType, m.GiaVaiMau}))".replace(/&quot;/g, '"'));
        var listProductType = JSON.parse("@JsonConvert.SerializeObject(listProductType.Select(m=>new {m.Id,m.Name,m.Price,m.IsFitting}))".replace(/&quot;/g, '"'));
        var loaiVai = JSON.parse("@JsonConvert.SerializeObject(loaivai.Select(m=> new {m.Id,m.Name,m.MaVai,ProductTypeLoaiVai=m.ProductTypeLoaiVai.Select(n=>new { n.ProductTypeId, n.Price })}))".replace(/&quot;/g, '"'));
        var vaiTypes = JSON.parse("@JsonConvert.SerializeObject(Helpers.GetVaiTypeList())".replace(/&quot;/g, '"'));
        var listTho = JSON.parse("@JsonConvert.SerializeObject(listTho.Select(m=> new {m.Id, m.Name, m.Type}))".replace(/&quot;/g, '"'));
        var listThoDo = JSON.parse("@JsonConvert.SerializeObject(listTho.Where(m=>m.Type == (byte)ThoTypes.Do).Select(m=> new {m.Id, m.Name, m.Type}))".replace(/&quot;/g, '"'));
        var listThoCat = JSON.parse("@JsonConvert.SerializeObject(listTho.Where(m=>m.Type == (byte)ThoTypes.Cat || m.Type == (byte)ThoTypes.CatMay).Select(m=> new {m.Id, m.Name, m.Type}))".replace(/&quot;/g, '"'));
        var listThoMay = JSON.parse("@JsonConvert.SerializeObject(listTho.Where(m=>m.Type == (byte)ThoTypes.May || m.Type == (byte)ThoTypes.CatMay).Select(m=> new {m.Id, m.Name, m.Type}))".replace(/&quot;/g, '"'));
        var vaiKhachMangDen = parseInt("@((byte)VaiTypes.KhachMangVaiDen)");
        var vaiKhongCoSan = parseInt("@((byte)VaiTypes.KhongCoSan)");
        var vaiMauTaiShop = parseInt("@((byte)VaiTypes.VaiMauCuaHang)");
        var hangthe = JSON.parse("@JsonConvert.SerializeObject(listHangThe.Select(m=>new {m.Id,m.Name,m.BirthDayDiscount,m.NguoiThanDiscount,m.SoTien, ProductMemberCard = m.ProductMemberCard.Select(n=> new {n.ProductId, ProductName = n.ProductType.Name, n.Discount})}))".replace(/&quot;/g, '"'));

        $(function () {

            $('.price').maskMoney({ precision: 0 });
            $('.price').focus();

            $('.datepicker').datetimepicker({
                format: 'DD/MM/YYYY HH:mm:ss'
            });

            bindPhieuSanXuat();
            updateSoTienItem();

            $("#btnAddPhieuSanXuat").on("click", function () {

                updatePhieuSanXuatData();

                var newPhieusx = {
                    Id: 0,
                    TenSanPham: '',
                    DangNguoi: '',
                    ProductTypeId: 0,
                    MaVaiId: 0,
                    VaiType: 0,
                    SoLuong: 1,
                    GiaVaiMau: 0
                };
                phieuSanXuatModels.push(newPhieusx);

                bindPhieuSanXuat();

                return false;
            });

            if ('@Model.Id' == '0' || '@Model.Status' == '@((byte)TicketStatus.ChuaXuLy)') {
                GetMemberCard();
            } else {
                if ('@Model.MemberCardId.HasValue' == 'True') {
                    $("#lblMemberCard, .lblHangThe").html('@(Model.MemberCardId.HasValue? Model.MemberCard.Name: "Register")');
                    $("#lblMemberCard").attr('data-id', '@(Model.MemberCardId ?? 0 )');
                } else {
                    $("#lblMemberCard").attr('data-id', '0');
                    $("#lblMemberCard").html('Register');
                }
            }
            $('#CustomerId').change(function () {
                GetMemberCard();
            });

            $('#ChietKhau').change(function () {
                changeChietKhau(1);
            });

            $('.percentChietKhau').change(function () {
                changeChietKhau(2);
            });
        });

        function updateSoTienItem() {
            var tongtien = 0;
            var isShowNgayThu = false;
            $('#boxPhieuSanXuat .media').each(function (i, element) {
                var obj = $(element);

                var loaivaiId = parseInt(obj.find("select.loaivai").val()) | 0;
                var soluong = parseInt(obj.find(".soluong").val()) | 0;
                var productTypeId = parseInt(obj.find("input[type='radio']:checked").val()) | 0;
                var vaiType = parseInt(obj.find("select.vaiTypes").val());
                var giaVaiMau = parseInt(obj.find(".GiaVaiMau").val().replace(/,/g, '')) | 0;

                // hide if customer has vai
                if (vaiType == vaiKhachMangDen) {
                    obj.find(".boxVaiExtend").slideUp();
                }
                else {
                    obj.find(".boxVaiExtend").slideDown();
                    if (vaiType == vaiKhongCoSan) {
                        obj.find("select.loaivai, .HasVai").parent().slideDown();
                        obj.find(".GiaVaiMau").parent().slideUp();
                    }
                    if (vaiType == vaiMauTaiShop) {
                        obj.find("select.loaivai, .HasVai").parent().slideUp();
                        obj.find(".GiaVaiMau").parent().slideDown();
                    }
                }

                var dongia = getPrice(vaiType, loaivaiId, productTypeId, giaVaiMau);
                var discount = {};
                var cardId = $('#lblMemberCard').attr('data-id');
                if (cardId > 0) {
                    var cardProduct = getProductMemberCard(productTypeId, cardId);
                    if (cardProduct.Discount) {
                        var priceDiscount = dongia * cardProduct.Discount / 100;
                        dongia = dongia - priceDiscount;
                        discount.Money = priceDiscount;
                        discount.Percent = cardProduct.Discount;
                    }
                }

                if (discount.Percent) {
                    obj.find(".boxDiscount").slideDown();
                    obj.find(".discountPercent").text(discount.Percent);
                    obj.find(".discountMoney").text(formatMoney(discount.Money));
                } else {
                    obj.find(".boxDiscount").slideUp();
                }

                var thanhtien = dongia * soluong;
                obj.find(".giatien").html(formatMoney(thanhtien));

                tongtien += thanhtien;
            });

            $('#boxPhieuSua .media').each(function (i, element) {
                var obj = $(element);
                var sotien = parseInt(obj.find(".sotien").val().replace(/,/g, '')) | 0;
                tongtien += sotien;
            });

            $("#Total").val(tongtien);
            $("#lblTotal").html(formatMoney(tongtien));

            var datcoc = parseInt($("#DatCoc").val().replace(/,/g, '')) | 0;
            var chietKhau = parseInt($("#ChietKhau").val().replace(/,/g, '')) | 0;

            if (tongtien > 0) {
                var percentChietKhau = parseInt($(".percentChietKhau").val()) | 0;
                if (percentChietKhau > 0) {
                    chietKhau = percentChietKhau * tongtien / 100;
                    $("#ChietKhau").val(chietKhau);
                }
            }

            var conthieu = tongtien - datcoc - chietKhau;
            $("#TienConThieu").html(formatMoney(conthieu));
        }

        function getPrice(vaiType, loaivaiId, productTypeId, giaVaiMau) {
            var dongia = 0;
            var product = getProduct(productTypeId);
            var tiencong = product.Price | 0;

            if (vaiType == vaiKhachMangDen) {
                dongia = tiencong;
            }
            else {
                if (vaiType == vaiKhongCoSan) {
                    var giaVaiBanRa = 0;

                    $.each(loaiVai, function (index, item) {
                        if (item.Id != loaivaiId) return;

                        $.each(item.ProductTypeLoaiVai, function (index, typeitem) {
                            if (typeitem.ProductTypeId != productTypeId) return;

                            giaVaiBanRa = typeitem.Price;
                            return false;
                        });
                        return false;
                    });

                    dongia = tiencong + giaVaiBanRa;
                }
                if (vaiType == vaiMauTaiShop) {
                    dongia = tiencong + giaVaiMau;
                }
            }
            return dongia;
        }

        function getProduct(id) {
            var product = {};
            $.each(listProductType, function (index, item) {
                if (item.Id != id) return;

                product = item;
                return false;
            });
            return product;
        }

        function getProductMemberCard(productId, cardId) {
            var result = {};
            $.each(hangthe, function (indexCard, card) {
                if (card.Id != cardId) return;

                //ProductId, ProductName = n.ProductType.Name, n.Discount
                $.each(card.ProductMemberCard, function (i, product) {
                    if (product.ProductId != productId) return;

                    result = product;
                    return false;
                });
                return false;
            });
            return result;
        }

        function showHideFittingDate() {
            var result = false;
            $('#boxPhieuSanXuat .media').each(function (i, element) {
                var obj = $(element);
                var productId = parseInt(obj.find("input[type='radio']:checked").val()) | 0;

                var product = getProduct(productId);
                if (product.IsFitting) {
                    result = true;
                    return false;
                }
            });

            var ngayThuObj = $("#NgayThu").parent();
            if (result) {
                ngayThuObj.slideDown();
            } else {
                ngayThuObj.slideUp();
            }
        }

        function removePhieuSx(e) {
            if (confirm("Bạn có chắc chắn muốn xóa sản phẩm này?")) {
                $(e).parents(".media").remove();

                updatePhieuSanXuatData();

                bindPhieuSanXuat();
            }
        }

        function updatePhieuSanXuatData() {
            phieuSanXuatModels = [];
            $('#boxPhieuSanXuat .media').each(function (i, element) {
                var obj = $(element);
                var phieusx = {};
                phieusx.Id = parseInt(obj.find(".idsanpham").val()) | 0;
                phieusx.TenSanPham = obj.find(".tensanpham").val();
                phieusx.DangNguoi = obj.find(".DangNguoi").val();
                phieusx.ProductTypeId = parseInt(obj.find("input[type='radio']:checked").val()) | 0;
                phieusx.MaVaiId = parseInt(obj.find("select.loaivai").val()) | 0;
                phieusx.SoLuong = parseInt(obj.find(".soluong").val()) | 0;
                phieusx.HasVai = obj.find(".HasVai").val() == 'true';
                phieusx.VaiType = parseInt(obj.find(".vaiTypes").val()) | 0;
                phieusx.GiaVaiMau = parseInt(obj.find(".GiaVaiMau").val().replace(/,/g, '')) | 0;
                phieuSanXuatModels.push(phieusx);
            });
        }

        function bindPhieuSanXuat() {
            var box = $('#boxPhieuSanXuat');
            var html = "";
            $.each(phieuSanXuatModels, function (index, item) {
                var dongia = getPrice(item.VaiType, item.MaVaiId, item.ProductTypeId, item.GiaVaiMau);
                var discount = {};
                var cardId = $('#lblMemberCard').attr('data-id');
                if (cardId > 0) {
                    var cardProduct = getProductMemberCard(item.ProductTypeId, cardId);
                    if (cardProduct.Discount) {
                        var priceDiscount = dongia * cardProduct.Discount / 100;
                        dongia = dongia - priceDiscount;
                        discount.Money = priceDiscount;
                        discount.Percent = cardProduct.Discount;
                    }
                }
                var giatien = formatMoney(dongia * item.SoLuong);

                html += "<div class='media'>";
                html += "   <h4 class='text-warning'>" + (index + 1) + ".<span class='pull-right' onclick='removePhieuSx(this);'>x</span></h4>";
                html += "   <div class='form-group'>";
                html += "       <label>Loại sản phẩm ?</label>";
                html += "       <br />";
                var typecount = 0;
                $.each(listProductType, function (i, product) {
                    var id = "rdoProductType" + index + "-" + typecount;
                    var hasValue = product.Id == item.ProductTypeId;
                    html += "   <div class='rdio rdio-default pull-left mr20'>";
                    html += "       <input type='radio' name='PhieuSanXuat[" + index + "].ProductTypeId' id='" + id + "' value='" + product.Id + "' " + (hasValue ? "checked" : "") + " onclick='showHideFittingDate(" + product.Id + "); updateSoTienItem();'>";
                    html += "       <label for='" + id + "'>" + product.Name + "</label>";
                    html += "   </div>";
                    typecount++;
                });
                html += "   </div>";
                html += "   <div class='form-group'>";
                html += "       <input type='hidden' name='PhieuSanXuat[" + index + "].Id' value='" + item.Id + "'  class='idsanpham'/>";
                html += "       <label>Kiểu cách</label>";
                html += "       <textarea name='PhieuSanXuat[" + index + "].TenSanPham' class='form-control tensanpham' placeholder='Kiểu cách'>" + (item.TenSanPham ? item.TenSanPham : '') + "</textarea>";
                html += "   </div>";
                html += "   <div class='form-group'>";
                html += "       <label>Dáng người</label>";
                html += "       <textarea name='PhieuSanXuat[" + index + "].DangNguoi' class='form-control DangNguoi' placeholder='Dáng người'>" + (item.DangNguoi ? item.DangNguoi : '') + "</textarea>";
                html += "   </div>";
                html += "   <div class='form-group'>";
                html += "       <div class='row'>";
                html += "           <div class='col-sm-8'>";
                html += "               <label>Tình trạng vải</label>";
                html += "               <select name='PhieuSanXuat[" + index + "].VaiType' class='form-control vaiTypes' onchange='updateSoTienItem();'>";
                $.each(vaiTypes, function (i, vai) {
                    html += "               <option value='" + vai.Key + "'" + (vai.Key == item.VaiType ? "selected" : "") + ">";
                    html += "                   " + vai.Value;
                    html += "               </option>";
                });
                html += "               </select>";
                html += "           </div>";
                html += "           <div class='col-sm-4'>";
                html += "               <div class='form-group'>";
                html += "                    <label>Số lượng</label>";
                html += "                    <input type='number' name='PhieuSanXuat[" + index + "].SoLuong' value='" + item.SoLuong + "' min='1' class='form-control soluong'  onchange='updateSoTienItem();' />";
                html += "               </div>";
                html += "           </div>";
                html += "       </div>";
                html += "   </div>";
                html += "   <div class='form-group boxVaiExtend'  style='display: " + (item.VaiType == vaiKhachMangDen ? 'block' : 'none') + "'>";
                html += "       <div class='row'>";
                html += "           <div class='col-sm-6' style='display: " + (item.VaiType == vaiKhongCoSan ? 'block' : 'none') + "'>";
                html += "               <label>Tên vải (Mã vải)</label>";
                html += "               <select name='PhieuSanXuat[" + index + "].MaVaiId' class='select22 loaivai' data-placeholder='Nhập tên hoặc mã vải...' onchange='updateSoTienItem();'>";
                $.each(loaiVai, function (i, vai) {
                    html += "               <option value='" + vai.Id + "'" + (vai.Id == item.MaVaiId ? "selected" : "") + ">";
                    html += "                   " + vai.Name;
                    if (vai.MaVai) {
                        html += "                   (" + vai.MaVai + ")";
                    }
                    html += "               </option>";
                });
                html += "               </select>";
                html += "           </div>";
                html += "           <div class='col-sm-6' style='display: " + (item.VaiType == vaiKhongCoSan ? 'block' : 'none') + "'>";
                html += "               <label>Đã mua chưa?</label>";
                html += "               <select name='PhieuSanXuat[" + index + "].HasVai' class='form-control HasVai'>";
                html += "                   <option value='true'" + (item.HasVai ? "selected" : "") + ">Đã mua vải</option>";
                html += "                   <option value='false'" + (!item.HasVai ? "selected" : "") + ">Chưa mua vải</option>";
                html += "               </select>";
                html += "           </div>";
                html += "           <div class='col-md-12' style='display: " + (item.VaiType == vaiMauTaiShop ? 'block' : 'none') + "'>";
                html += "               <label>Giá tiền vải mẫu</label>";
                html += "               <input type='text' name='PhieuSanXuat[" + index + "].GiaVaiMau' value='" + item.GiaVaiMau + "' min='1' class='form-control price GiaVaiMau'  onchange='updateSoTienItem();' />";
                html += "           </div>";
                html += "       </div>";
                html += "   </div>";
                html += "   <div class='form-group'>";
                html += "       <div class='row'>";
                html += "           <div class='col-sm-4 col-xs-6'>";
                html += "               <label>Thợ đo</label>";
                html += "               <select name='PhieuSanXuat[" + index + "].ThoDoId' class='select22' data-placeholder='Nhập tên thợ...'>";
                $.each(listThoDo, function (i, tho) {
                    html += "               <option value='" + tho.Id + "'" + (tho.Id == item.ThoDoId ? "selected" : "") + ">";
                    html += "                   " + tho.Name;
                    html += "               </option>";
                });
                html += "               </select>";
                html += "           </div>";
                html += "           <div class='col-sm-4 col-xs-6'>";
                html += "               <label>Thợ cắt</label>";
                html += "               <select name='PhieuSanXuat[" + index + "].ThoCatId' class='select22' data-placeholder='Nhập tên thợ...'>";
                $.each(listThoCat, function (i, tho) {
                    html += "               <option value='" + tho.Id + "'" + (tho.Id == item.ThoCatId ? "selected" : "") + ">";
                    html += "                   " + tho.Name;
                    html += "               </option>";
                });
                html += "               </select>";
                html += "           </div>";
                html += "           <div class='col-sm-4 col-xs-6'>";
                html += "               <label>Thợ may</label>";
                html += "               <select name='PhieuSanXuat[" + index + "].ThoMayId' class='select22' data-placeholder='Nhập tên thợ...'>";
                $.each(listThoMay, function (i, tho) {
                    html += "               <option value='" + tho.Id + "'" + (tho.Id == item.ThoMayId ? "selected" : "") + ">";
                    html += "                   " + tho.Name;
                    html += "               </option>";
                });
                html += "               </select>";
                html += "           </div>";
                html += "       </div>";
                html += "   </div>";
                html += "   <label>Giá tiền: <strong class='text-success giatien'>" + giatien + "</strong></label>";
                html += "   <p class='boxDiscount' style='display: " + (discount.Money ? 'block' : 'none') + "'><small><i>Đã giảm <span class='discountPercent'>" + (discount.Percent | 0) + "</span>% (tức <span class='discountMoney'>" + formatMoney(discount.Money | 0) + "</span>) do khách là hạng thẻ <span class='lblHangThe'>" + $("#lblMemberCard").text() + "</span></i></small></p>";
                html += "</div>";
            });
            box.html(html);

            $("#soluongspcanmay").html(phieuSanXuatModels.length);

            jQuery(".select22").select2({
                width: '100%'
            });

            var currentPosition = $(document).scrollTop();
            $('.price').maskMoney({ precision: 0 });
            $('.price').focus();
            $(document).scrollTop(currentPosition);
        }

        function beforeSubmit() {
            $(".price").each(function () {
                var $this = $(this);
                var value = $this.val().replace(/,/g, '');
                $this.val(value);
            });

            var countPhieuSx = parseInt($("#soluongspcanmay").text()) | 0;
            var countSua = parseInt($("#soluongspcansua").text()) | 0;
            if (countPhieuSx == 0 && countSua == 0) {
                alert("Không có sản phẩm may hoặc sản phẩm sửa nào!");
                return false;
            }
            return true;
        }

        function btnConfirmXuLy() {
            return confirm("Bạn có chắc chắn muốn xử lý đơn hàng này?");
        }
    </script>

    @*Sản phẩm sửa*@
    <script>
        var phieuSuaModels = JSON.parse("@JsonConvert.SerializeObject(Model.PhieuSua.Select(m=>new {m.Id,m.NoiDung,m.ProblemBy,m.SoTien,m.Type,m.ThoId}))".replace(/&quot;/g, '"'));
        var phieuSuaTypes = JSON.parse("@JsonConvert.SerializeObject(Helpers.GetPhieuSuaTypeList())".replace(/&quot;/g, '"'));
        var baohanhvalue = parseInt("@((byte)PhieuSuaType.BaoHanh)");

        $(function () {

            bindPhieuSua();
            updateSoTienItem();

            $("#btnAddPhieuSua").on("click", function () {

                updatePhieuSuaData();

                var newPhieuSua = {
                    Id: 0,
                    NoiDung: '',
                    Type: baohanhvalue,
                    SoTien: 0
                };
                phieuSuaModels.push(newPhieuSua);

                bindPhieuSua();

                return false;
            });
        });

        function cboLyDoChange(e) {
            var obj = $(e);
            var value = $(e).val();
            var sotienobj = obj.parents(".media").find(".boxtien");
            var boxloidoaiObj = obj.parents(".media").find(".boxloidoai");
            if (value == "@((byte)PhieuSuaType.BaoHanh)") {
                sotienobj.find('.sotien').val(0);
                sotienobj.slideUp();
                boxloidoaiObj.slideDown();
            } else {
                sotienobj.slideDown();
                boxloidoaiObj.slideUp();
            }
        }

        function removePhieuSua(e) {
            if (confirm("Bạn có chắc chắn muốn xóa phiếu sửa này?")) {
                $(e).parents(".media").remove();

                updatePhieuSuaData();

                bindPhieuSua();
            }
        }

        function updatePhieuSuaData() {
            phieuSuaModels = [];
            $('#boxPhieuSua .media').each(function (i, element) {
                var obj = $(element);
                var phieusua = {};
                phieusua.Id = parseInt(obj.find(".idphieusua").val()) | 0;
                phieusua.NoiDung = obj.find(".noidung").val();
                phieusua.Type = parseInt(obj.find("select.type").val()) | 0;
                phieusua.ProblemBy = parseInt(obj.find("select.loitype").val()) | 0;
                phieusua.ThoId = parseInt(obj.find("select.aisesua").val()) | 0;
                phieusua.SoTien = parseInt(obj.find(".sotien").val().replace(/,/g, '')) | 0;

                phieuSuaModels.push(phieusua);
            });
        }

        function bindPhieuSua() {
            var box = $('#boxPhieuSua');
            var html = "";
            $.each(phieuSuaModels, function (index, item) {
                var giatien = formatMoney(item.SoTien);

                html += "<div class='media'>";
                html += "   <h4 class='text-warning'>" + (index + 1) + ".<span class='pull-right' onclick='removePhieuSua(this);'>x</span></h4>";
                html += "   <div class='form-group'>";
                html += "       <label>Miêu tả lỗi sản phẩm</label>";
                html += "       <input type='hidden' name='PhieuSua[" + index + "].Id' value='" + item.Id + "'  class='idphieusua'/>";
                html += "       <input type='text' name='PhieuSua[" + index + "].NoiDung' value='" + item.NoiDung + "' class='form-control noidung' placeholder='Miêu tả lỗi sản phẩm' />";
                html += "   </div>";
                html += "   <div class='form-group'>";
                html += "               <label>Lý do sửa</label>";
                html += "               <select name='PhieuSua[" + index + "].Type' class='form-control type' onchange='cboLyDoChange(this);'>";
                $.each(phieuSuaTypes, function (i, type) {
                    html += "               <option value='" + type.Key + "'" + (type.Key == item.Type ? "selected" : "") + ">";
                    html += "                   " + type.Value;
                    html += "               </option>";
                });
                html += "               </select>";
                html += "   </div>";
                html += "   <div class='form-group boxloidoai'>";
                html += "               <label>Lỗi do ai?</label>";
                html += "               <select name='PhieuSua[" + index + "].ProblemBy'  class='select223 loitype' data-placeholder='Nhập tên thợ...'>";
                $.each(listTho, function (i, tho) {
                    html += "               <option value='" + tho.Id + "'" + (tho.Id == item.ProblemBy ? "selected" : "") + ">";
                    html += "                   " + tho.Name;
                    html += "               </option>";
                });
                html += "               </select>";
                html += "   </div>";
                html += "   <div class='form-group'>";
                html += "       <label>Ai sẽ sửa?</label>";
                html += "       <select name='PhieuSua[" + index + "].ThoId' class='select223 aisesua' data-placeholder='Nhập tên thợ...'>";
                $.each(listTho, function (i, tho) {
                    html += "       <option value='" + tho.Id + "'" + (tho.Id == item.ThoId ? "selected" : "") + ">";
                    html += "           " + tho.Name;
                    html += "       </option>";
                });
                html += "       </select>";
                html += "   </div>";
                html += "   <div class='form-group boxtien' style='display: " + (item.Type == baohanhvalue ? "none" : "block") + "'>";
                html += "       <label>Giá tiền</label>";
                html += "       <input type='text' name='PhieuSua[" + index + "].SoTien' value='" + item.SoTien + "' class='form-control price sotien'  onchange='updateSoTienItem();' />";
                html += "   </div>";
                html += "</div>";
            });
            box.html(html);

            $("#soluongspcansua").html(phieuSuaModels.length);

            var currentPosition = $(document).scrollTop();
            $('.price').maskMoney({ precision: 0 });
            $('.price').focus();
            jQuery(".select223").select2({
                width: '100%'
            });
            $(document).scrollTop(currentPosition);
        }
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
