@using iClassic.Helper;
@using iClassic.Models;
@using Newtonsoft.Json;
@model iClassic.Models.Invoice

@{
    ViewBag.Title = Model.Id > 0 ? "Sửa lại" : "Thêm mới";
    ViewBag.Class = "fa fa-dollar";
    ViewBag.Breadcrumbs = "<a href='" + Url.Action("Index") + "'>Hóa đơn</a>" +
                          "<span>" + ViewBag.Title + "</span>";
}

<div class="row mb10 mt10">
    <div class="col-md-12">
        <h3 class="panel-title">
            @ViewBag.Title
        </h3>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="" class="minimize">−</a>
                        <h4>Thông tin hóa đơn</h4>
                    </div>
                </div>
                <div class="panel-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.BranchId)
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CustomerId)
                                @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "select2", data_placeholder = "Nhập tên hoặc SĐT khách hàng..." })
                                <div class="row">
                                    <div id="boxHangThe" class="col-xs-6">
                                        Hạng thẻ:
                                        <a href="javascript:void(0)" onclick="showInfoCard();">
                                            <strong id="lblMemberCard"></strong>
                                        </a>
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <a href="javascript:void(0)" onclick="showNewCustomerModal()">+ Thêm mới KH</a>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group" style="display: @(Model.PhieuSanXuat.Any(m=>m.ProductType!=null && m.ProductType.IsFitting) ? "block": "none");">
                                @Html.LabelFor(model => model.NgayThu)
                                <input type="text" name="NgayThu" value="@(Model.NgayThu.HasValue ? Model.NgayThu.Value.ToString("dd/MM/yyyy HH:mm"): "")" class="form-control datepicker" id="NgayThu" />
                                @Html.ValidationMessageFor(model => model.NgayThu, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NgayTra)
                                <input type="text" name="NgayTra" value="@Model.NgayTra.ToString("dd/MM/yyyy HH:mm:ss")" class="form-control datepicker" />
                                @Html.ValidationMessageFor(model => model.NgayTra, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Status):
                                @Html.Raw(Helpers.DrawStatusTicket((byte)TicketStatus.ChuaXuLy))
                                @Html.HiddenFor(model => model.Status)
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group tongtiengroup">
                                <label>
                                    @Html.HiddenFor(m => m.Total)
                                    Tổng tiền: <strong id="lblTotal" class="text-success">0 ₫</strong>
                                </label>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DatCoc)
                                @Html.EditorFor(model => model.DatCoc, new { htmlAttributes = new { @class = "form-control price", onchange = "updateSoTienItem();" } })
                                @Html.ValidationMessageFor(model => model.DatCoc, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ChietKhau)
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.ChietKhau, new { htmlAttributes = new { @class = "form-control price" } })
                                            <div class="input-group-btn" style="min-width: 55px;">
                                                <select id="ChietKhauType" name="ChietKhauType" class="form-control" style="height: 37px;">
                                                    <option value="@((byte)ChietKhauType.SoTien)" @(Model.ChietKhauType == (byte)ChietKhauType.SoTien ? "selected" : "")>đ</option>
                                                    <option value="@((byte)ChietKhauType.PhanTram)" @(Model.ChietKhauType == (byte)ChietKhauType.PhanTram ? "selected" : "")>%</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6" id="lblSoTienChietKhau">
                                        <label style="line-height:38px;"><i class="fa fa-exchange"></i>&nbsp;&nbsp;<span></span></label>
                                    </div>
                                </div>

                                @Html.ValidationMessageFor(model => model.ChietKhau, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label class="text-danger">Còn thiếu: <strong id="TienConThieu"></strong></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="" class="minimize">−</a>
                        <h4>Sản phẩm cần may? (<span id="soluongspcanmay"></span>)</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="widget-bloglist" id="boxPhieuSanXuat">

                    </div>
                    <div class="mt10">
                        <a href="javascript:void(0)" id="btnAddPhieuSanXuat">+ Thêm sản phẩm may</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns">
                        <a href="" class="minimize">−</a>
                        <h4>Sản phẩm cần sửa? (<span id="soluongspcansua"></span>)</h4>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="widget-bloglist" id="boxPhieuSua">

                    </div>
                    <div class="mt10">
                        <a href="javascript:void(0)" id="btnAddPhieuSua">+ Thêm sản phẩm cần sửa</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        @if (Model.Id > 0)
        {
            <a class="btn btn-default btn-xuly" href="@Url.Action("Proccess", new {id=Model.Id, status = (byte)TicketStatus.DangXuLy})" onclick="return btnConfirmXuLy();"><i class="fa fa-scissors mr5"></i>Xử lý</a>
            <div class="btn-group">
                <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-print"></i> In <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="@Url.Action("Print", new { id = Model.Id })" target="_blank">Đơn hàng</a></li>
                    <li><a href="@Url.Action("PrintPhieuSanXuat", new { id = Model.Id })" target="_blank">Phiếu sản xuất</a></li>
                    <li><a href="@Url.Action("PrintPhieuSua", new { id = Model.Id })" target="_blank">Phiếu sửa</a></li>
                </ul>
            </div>
            <a class="btn btn-danger btnConfirm" href="@Url.Action("Delete", new {id=Model.Id})"><i class="fa fa-times mr5"></i>Xóa</a>
        }
    </div>
    <div class="mb40 mt10">
        <button class="btn btn-lightblue" type="submit" onclick="return beforeSubmit();">@(Model.Id > 0 ? "Lưu" : "Tạo mới")</button>
        <a href="@Url.Action("Index")" class="btn btn-default">Quay lại</a>
    </div>
}

@section Styles {
    <link href="@Url.Content("~/Content/bootstrap-datetimepicker.css")" rel="stylesheet" />
    <style>
        @@media (min-width: 768px) {
            .tongtiengroup {
                margin: 50px 0 27px 0;
            }
        }

        .widget-bloglist .media {
            border-bottom: 1px solid #1d2939;
            padding-bottom: 10px;
        }

        .media h4 {
            padding-bottom: 5px;
            background: #1d2939;
            padding: 5px 10px;
            color: #ffffff;
        }

            .media h4 span:hover {
                cursor: pointer;
            }

        .btn-group {
            margin-bottom: 0;
        }

        .btn-xuly {
            background: #777;
            color: #fff;
        }
    </style>
}

@section Scripts {

    <script src="@Url.Content("~/Scripts/jquery.maskMoney.min.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>

    @*Sản phẩm may*@
    @Html.Partial("_PhieuSanXuatScript", Model)


    @*Sản phẩm sửa*@
    @Html.Partial("_PhieuSuaScript", Model)

    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
}
