@using iClassic.Helper;
@using iClassic.Models;
@{
    Layout = null;
    var baseController = ViewContext.Controller as iClassic.Controllers.BaseController;
    var listProductType = ViewBag.ProductTypeList as IQueryable<ProductType>;
}
@model Invoice
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<title>
    Phiếu Sửa - @Model.Code - iClassic
</title>
<style>
    .table-noborder {
        border-bottom: 0px !important;
    }

        .table-noborder th, .table-noborder td {
            border: 1px !important;
        }

    .mb20 {
        margin-bottom: 50px;
    }

    .page {
        width: 21cm;
        min-height: 29.7cm;
        padding: 1cm;
        margin: 1cm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    @@page {
        size: A4;
        margin: 0;
    }

    @@media print {
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }
</style>
<script>
    $(function () {
        window.print();

        if ($("body").find("#branch").length == 0) {
            $(".noforinvoice").html('');
        }
        $(".showforinvoice").removeClass("hide");
    });
</script>

@foreach (var item in Model.PhieuSua)
{
    <div class="page">
        <table class="table table-noborder showforinvoice hide">
            <tr>
                <td rowspan="2">
                    <img src="@Url.Content("~/images/logo.png")" class="img-responsive mb10" alt="" />
                </td>
                <td>
                    <address>
                        <div>Số hóa đơn: <strong class="text-danger">@Model.Code</strong></div>
                        Mã KH: <strong>@Model.Customer.MaKH</strong> <br>
                        Khách hàng:<strong> @Model.Customer.TenKH</strong> <br>
                        Ngày tạo phiếu:<strong> @DateTime.Now.ToString("dd/MM/yyyy")</strong><br />
                        Ngày lấy:<strong> @Model.NgayTra.ToString("dd/MM/yyyy")</strong><br />
                    </address>
                </td>
            </tr>
        </table>
        <h3 class="text-center showforinvoice hide"><u>PHIẾU SỬA</u></h3>
        
        <h4><strong>Lý do sửa</strong></h4>
        <div>
            @(((PhieuSuaType)item.Type).GetDescription())
        </div>
        <br />
        <h4><strong>Mô tả</strong></h4>
        <div>
            @item.NoiDung
        </div>
        <br />        
        <h4><strong>Thợ sửa</strong></h4>
        <div>
            @item.Tho.Name
        </div>
    </div>
                    }
