@using iClassic.Helper;
@using iClassic.Models;
@{
    Layout = null;
    var baseController = ViewContext.Controller as iClassic.Controllers.BaseController;
    var listProductType = ViewBag.ProductTypeList as IQueryable<ProductType>;
}
@model Invoice
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<title>
    Phiếu Sản Xuất - @Model.Code - iClassic
</title>
<style>
    .table-noborder {
        border-bottom: 0px !important;
    }

        .table-noborder th, .table-noborder td {
            border: 1px !important;
        }

    .page {
        width: 148mm;
        height: 200mm;
        padding: 10px;
        margin: 1cm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 10px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    @@page {
        size: A5;
        margin: 0;
    }

    @@media print {
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }

    table {
        font-size: 13px;
    }

    h3 {
        font-size: 18px;
        margin-top: 0px;
    }
    .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
        padding: 0px 8px;
    }
</style>
<script>
    $(function () {
        window.print();

        if ($("body").find("#branch").length == 0) {
            $(".noforinvoice").html('');
        }
        $(".showforinvoice").removeClass("hide");
    });
</script>

@foreach (var item in Model.PhieuSanXuat)
{
    <div class="page">
        <table class="table table-noborder showforinvoice hide">
            <tr>
                <td rowspan="2">
                    <img src="@Url.Content("~/images/logo.png")" class="img-responsive mb10" alt="" />
                </td>
                <td>
                    <address>
                        <div>Số hóa đơn: <strong class="text-danger">@Model.Code</strong></div>
                        Mã KH: <strong>@Model.Customer.MaKH</strong> <br>
                        Khách hàng:<strong> @Model.Customer.TenKH</strong> <br>
                        @if (item.ProductType.IsFitting)
                        {
                            <span>Ngày thử:</span><strong> @(Model.NgayThu.HasValue ? Model.NgayThu.Value.ToString("dd/MM/yyyy") : "")</strong><br />
                        }
                        Ngày lấy:<strong> @Model.NgayTra.AddDays(-3).ToString("dd/MM/yyyy")</strong><br />
                    </address>
                </td>
            </tr>
        </table>
        <h3 class="text-center showforinvoice hide">
            PHIẾU SẢN XUẤT: @item.ProductType.Name
        </h3>
        <h4 class="text-center showforinvoice hide">(MÃ VẢI: @(item.MaVaiId.HasValue ? item.LoaiVai.MaVai.ToUpper() : "KHÁCH MANG VẢI ĐẾN"))</h4>
        @{
            var productType = listProductType.FirstOrDefault(m => m.Id == item.ProductTypeId);
            <table class="table tableSodo">
                <tbody>
                    @if (productType.ProductTyeField.Any())
                    {
                        foreach (var productTypeField in productType.ProductTyeField.ToArray())
                        {
                            var productTypeValue = Model.Customer.ProductTypeValue.FirstOrDefault(m => m.ProductTypeFieldId == productTypeField.Id);
                            <tr>
                                <td>@productTypeField.Name</td>
                                <td>
                                    @(productTypeValue != null ? productTypeValue.Value : "")
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }
        <h4><strong>Mô tả</strong></h4>
        <div>
            @item.TenSanPham
        </div>
        <br />
        <h4><strong>Đặc điểm dáng người</strong></h4>
        <div>
            @Model.Customer.DangNguoi
        </div>
        <br />
        <table class="table">
            <tr>
                <td class="text-center">
                    @(((ThoTypes)item.ThoDoId).GetDescription())
                    <br />    <strong>@item.Tho.Name</strong>
                </td>
                <td class="text-center">
                    @(((ThoTypes)item.ThoCatId).GetDescription())
                    <br />    <strong>@item.Tho2.Name</strong>
                </td>
                <td class="text-center">
                    @(((ThoTypes)item.ThoMayId).GetDescription())
                    <br />    <strong>@item.Tho1.Name</strong>
                </td>
            </tr>
        </table>
    </div>
            }
