@{
    Layout = null;
    var baseController = ViewContext.Controller as iClassic.Controllers.BaseController;
}
@model iClassic.Models.Invoice
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<title>
    In hóa đơn - @Model.Code - iClassic
</title>

<style>
    .table-noborder {
        border-bottom: 0px !important;
    }

        .table-noborder th, .table-noborder td {
            border: 1px !important;
        }

    .mb20 {
        margin-bottom: 50px;
    }

    .page {
        width: 148mm;
        height: 200mm;
        padding: 10px;
        margin: 1cm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 10px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    @@page {
        size: A5;
        margin: 0;
    }

    @@media print {
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }

    table {
        font-size: 13px;
    }

    h3 {
        font-size: 17px;
        margin-top: 0px;
        font-weight: bold;
    }

    .table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
        padding: 0px 8px;
    }

    #tblsanpham thead > tr > th, #tblsanpham tbody > tr > th, #tblsanpham tfoot > tr > th, #tblsanpham thead > tr > td, #tblsanpham tbody > tr > td, #tblsanpham tfoot > tr > td {
        padding: 3px 8px;
    }

    table:first-child {
        margin-bottom: 0px;
    }

    p {
        margin: 0 0 2px;
    }
</style>
<script>
    $(function () {
        window.print();

        if ($("body").find("#branch").length == 0) {
            $(".noforinvoice").hide();
            $("tfoot td").attr('colspan', 4);
        }
        $(".showforinvoice").removeClass("hide");
    });
</script>

<div class="page">
    @Html.Partial("_DonHangPartial", Model)
    <table class="table table-noborder">
        <tr>
            <td></td>
            <td class="text-center">
                <br />
                <i>@DateTime.Now.ToString("'Ngày' dd 'tháng' MM 'năm' yyyy")</i>
            </td>
        </tr>
        <tr>
            <td class="text-center">
                <strong>Khách hàng</strong><br />
            </td>
            <td class="text-center">
                <strong>Người lập phiếu</strong><br />
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="text-center">
                <br />
                <br />
                @if (!string.IsNullOrEmpty(baseController.CurrentUser.Name))
            {
                    @baseController.CurrentUser.Name
                }
                else
                {
                    @User.Identity.Name
                }
            </td>
        </tr>
        @if (Model.MemberCardId.HasValue)
        {
            <tr>
                <td class="" colspan="2">
                    <br />
                    <p>
                        <u><strong><i>Lưu ý</i></strong></u>: <small><i>Hóa đơn đã được giảm theo hạng thẻ <strong>@Model.MemberCard.Name</strong> của quý khách</i></small>
                    </p>
                    <p>
                        <small><i>Ưu đãi hạng thẻ <strong>@Model.MemberCard.Name</strong> của quý khách như sau:</i></small>
                    </p>
                    <p>
                        <small>
                            <i>
                                - Giảm @Model.MemberCard.BirthDayDiscount% vào dịp sinh nhật,
                                @Model.MemberCard.NguoiThanDiscount% cho người thân đầu tiên
                            </i>
                        </small>
                    </p>
                    <p>
                        <small>
                            <i>
                                - Giảm khi may các SP:
                                @{
                                    var count = 0;
                                    foreach (var item in Model.MemberCard.ProductMemberCard)
                                    {
                                        <span>@(count != 0 ? ", " : "")@item.ProductType.Name @item.Discount%</span>
                                        count++;
                                    }
                                }
                            </i>
                        </small>
                    </p>
                </td>
            </tr>
                                    }
    </table>
</div>
