@using iClassic.Models;
@using iClassic.Helper;
@model DashboardModel
@{
    ViewBag.Title = "Tổng quan các loại đơn hàng";
    ViewBag.Class = "fa fa-home";
    ViewBag.Breadcrumbs = ViewBag.Title;
}
<div class="row">
    <div class="col-xs-4">
        <div class="panel panel-danger panel-alt widget-today">
            <div class="panel-heading text-center">
                <i class="glyphicon glyphicon-ban-circle"></i>
            </div>
            <div class="panel-body text-center">
                <h3 class="today">
                    <a href="@Url.Action("Index","Invoice", new {Status = (byte)TicketStatus.ChuaXuLy })">
                        Chưa xử lý: <strong class="text-danger">@Model.ChuaMay</strong>
                    </a>
                </h3>
            </div><!-- panel-body -->
        </div><!-- panel -->
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default panel-alt widget-today">
            <div class="panel-heading text-center">
                <i class="fa fa-scissors"></i>
            </div>
            <div class="panel-body text-center">
                <h3 class="today">
                    <a href="@Url.Action("Index","Invoice", new {Status = (byte)TicketStatus.DangXuLy })">
                        Đang xử lý: <strong class="text-danger">@Model.ChuaMay</strong>
                    </a>
                </h3>
            </div><!-- panel-body -->
        </div><!-- panel -->
    </div>
    <div class="col-xs-4">
        <div class="panel panel-warning panel-alt widget-time">
            <div class="panel-heading text-center">
                <i class="fa fa-spinner"></i>
            </div>
            <div class="panel-body text-center">
                <h3 class="today">
                    <a href="@Url.Action("Index","Invoice", new {Status = (byte)TicketStatus.DaXuLy })">
                        Đã xử lý, chưa trả: <strong class="text-danger">@Model.DaMayChuaTra</strong>
                    </a>
                </h3>
            </div><!-- panel-body -->
        </div><!-- panel -->
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <div class="panel panel-danger panel-alt widget-today">
            <div class="panel-heading text-center">
                <i class="fa fa-exclamation-triangle"></i>
            </div>
            <div class="panel-body text-center">
                <h3 class="today">
                    <a href="@Url.Action("Index","Invoice", new { StatusVai = false })">
                        Chưa mua vải: <strong class="text-danger">@Model.ChuaMuaVai</strong>
                    </a>
                </h3>
            </div><!-- panel-body -->
        </div><!-- panel -->
    </div>
    <div class="col-xs-4">
        <div class="panel panel-danger panel-alt widget-today">
            <div class="panel-heading text-center">
                <i class="fa fa-refresh"></i>
            </div>
            <div class="panel-body text-center">
                <h3 class="today">
                    <a href="@Url.Action("Index","Invoice", new { IsDenHanThu = true })">
                        Đến hạn thử: <strong class="text-danger">@Model.SapDenHanThu</strong>
                    </a>
                </h3>
            </div><!-- panel-body -->
        </div><!-- panel -->
    </div>
    <div class="col-xs-4">
        <div class="panel panel-danger panel-alt widget-today">
            <div class="panel-heading text-center">
                <i class="fa fa-truck"></i>
            </div>
            <div class="panel-body text-center">
                <h3 class="today">
                    <a href="@Url.Action("Index","Invoice", new { IsSapPhaiTra = true })">
                        Đến hạn trả: <strong class="text-danger">@Model.SapPhaiTra</strong>
                    </a>
                </h3>
            </div><!-- panel-body -->
        </div><!-- panel -->
    </div>
</div>
@section Styles{
    <style>
        .panel-default > .panel-heading {
            background:#777;
        }
    </style>
    }