@using iClassic.Helper;
@{
    var isSupperAdmin = User.IsInRole(RoleList.SupperAdmin);
    var baseController = ViewContext.Controller as iClassic.Controllers.BaseController;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/images/logo.png" type="image/png">
    <title>@ViewBag.Title - iClassic</title>
    <link href="@Url.Content("~/css/style.default.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/font.helvetica-neue.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet">
    @RenderSection("Styles", false)
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../js/html5shiv.js"></script>
    <script src="../../js/respond.min.js"></script>
    <![endif]-->
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
</head>
<body class="">
    <section>
        <div class="leftpanel">
            <div class="logopanel">
                <a href="@Url.Action("Index", "Home")">
                    <img src="@Url.Content("~/Images/logo.png")" alt="iClassic" />
                </a>
            </div><!-- logopanel -->
            <div class="leftpanelinner">
                <!-- This is only visible to small devices -->
                <div class="visible-xs visible-sm hidden-md hidden-lg">
                    <div class="media userlogged">
                        <div class="media-body">
                            <h4>
                                @if (!string.IsNullOrEmpty(baseController.CurrentUser.Name))
                                {
                                    @baseController.CurrentUser.Name
                                }
                                else
                                {
                                    @User.Identity.Name
                                }
                            </h4>
                        </div>
                    </div>
                    <h5 class="sidebartitle actitle">Tài khoản</h5>
                    <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                        <li><a href="@Url.Action("Settings","Account")"><i class="glyphicon glyphicon-cog"></i>Tài khoản</a></li>
                        <li>
                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="glyphicon glyphicon-log-out"></i> Đăng xuất</a>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                            }
                        </li>
                    </ul>
                </div>
                <h5 class="sidebartitle">Navigation</h5>
                <ul class="nav nav-pills nav-stacked nav-bracket" id="LeftMenu">
                    <li><a href="@Url.Action("Index", "Home")" data-href="Home/Index"><i class="fa fa-home"></i> <span>Trang chủ</span></a></li>
                    <li><a href="@Url.Action("Index", "Invoice")" data-href="Index/Invoice/NewOrEdit/Invoice/Details"><i class="fa fa-dollar"></i> <span>Đơn hàng</span></a></li>
                    <li><a href="@Url.Action("Index", "PhieuChi")" data-href="Index/PhieuChi/NewOrEdit"><i class="fa fa-shopping-cart"></i> <span>Phiếu chi</span></a></li>


                    <li class="nav-parent">
                        <a href=""><i class="fa fa-cog"></i> <span>Quản lý</span></a>
                        <ul class="children">
                            <li><a href="@Url.Action("Index", "Customer")" data-href="Index/Customer/NewOrEdit"><i class="fa fa-user"></i> <span>Khách hàng</span></a></li>
                            @if (isSupperAdmin || User.IsInRole(RoleList.Admin))
                            {                                
                                <li><a href="@Url.Action("Index", "LoaiVai")" data-href="Index/LoaiVai/NewOrEdit"><i class="fa fa-bars"></i> <span>Loại vải</span></a></li>
                                <li><a href="@Url.Action("Index", "Branch")" data-href="Index/Branch/NewOrEdit"><i class="fa fa-map-marker"></i> <span>Chi nhánh</span></a></li>
                                <li><a href="@Url.Action("Employees", "Manage")" data-href="/Manage/AddEmployee/Manage/EditEmployee/Manage/SetPasswordEmployee"><i class="fa fa-user"></i> <span>Nhân viên</span></a></li>
                                if (isSupperAdmin)
                                {
                                    <li><a href="@Url.Action("Index", "ProductType")" data-href="Index/ProductType/NewOrEdit"><i class="fa fa-list-ol"></i> <span>Sản phẩm</span></a></li>
                                    <li><a href="@Url.Action("Index", "Tho")" data-href="Index/Tho/NewOrEdit"><i class="fa fa-user"></i> <span>Danh sách Thợ</span></a></li>
                                    <li><a href="@Url.Action("Index", "MemberCard")" data-href="Index/MemberCard/NewOrEdit"><i class="fa fa-credit-card"></i> <span>Thẻ thành viên</span></a></li>
                                    <li><a href="@Url.Action("Index", "Salary")" data-href="Index/Salary/NewOrEdit"><i class="fa fa-dollar"></i> <span>Tiền lương</span></a></li>
                                }
                                <li><a href="@Url.Action("Index", "GiaoNhan")" data-href="Index"><i class="fa fa-truck"></i> <span>Giao nhận</span></a></li>
                            }
                        </ul>
                    </li>
                    @if (isSupperAdmin || User.IsInRole(RoleList.Admin))
                    {
                        <li class="nav-parent">
                            <a href=""><i class="fa fa-bar-chart-o"></i> <span>Thống kê</span></a>
                            <ul class="children">
                                <li><a href="@Url.Action("Index", "Statistic")" data-href="Index/Statistic/NewOrEdit"><i class="fa fa-caret-right"></i>Biểu đồ</a></li>
                                <li><a href="@Url.Action("Profit", "Statistic")"><i class="fa fa-caret-right"></i>Doanh thu</a></li>
                                @*<li><a href="@Url.Action("CustomerVip", "Statistic")"><i class="fa fa-caret-right"></i>Khách hàng</a></li>*@
                                <li><a href="@Url.Action("CustomerChanelAvertising", "Statistic")"><i class="fa fa-globe"></i>Kênh quảng cáo</a></li>
                                @*<li><a href="@Url.Action("GetErrorsInProcessing", "Statistic")"><i class="fa fa-caret-right"></i>Lỗi sản xuất</a></li>*@
                            </ul>
                        </li>
                    }
                </ul>
            </div><!-- leftpanelinner -->
        </div><!-- leftpanel -->
        <div class="mainpanel">
            <div class="headerbar">
                <a class="menutoggle"><i class="fa fa-bars"></i></a>
                <div class="col-xs-10 col-md-10 nopadding" id="branch">
                    <h3 class="text-center  hidden-sm hidden-xs">
                        @baseController.CurrentBrach.Name
                        @if (isSupperAdmin)
                        {
                            <small onclick="changeBranch();"><i class="fa fa-edit"></i></small>
                        }
                    </h3>
                    <h4 class="text-center hidden-sm hidden-md hidden-lg">
                        @baseController.CurrentBrach.Name
                        @if (isSupperAdmin)
                        {
                            <small onclick="changeBranch();"><i class="fa fa-edit"></i></small>
                        }
                    </h4>
                </div>
                <div class="header-right">
                    <ul class="headermenu hidden-sm hidden-xs">
                        <li>
                            <div class="btn-group">
                                @Html.Partial("_LoginPartial", baseController.CurrentUser.Name)
                            </div>
                        </li>
                    </ul>
                </div><!-- header-right -->
            </div><!-- headerbar -->
            <div class="pageheader">
                <h2><i class="@ViewBag.Class"></i> @Html.Raw(ViewBag.Breadcrumbs)</h2>
            </div>
            <div class="contentpanel">
                @if (SessionHelpers.Exist(Constant.SESSION_MessageError))
                {
                    <div class="panel panel-default">
                        <div class="panel-body padding5">
                            <div class="alert alert-danger nomargin padding10" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeParentPanel(this);"><span aria-hidden="true">×</span></button>
                                @SessionHelpers.Get(Constant.SESSION_MessageError)
                            </div>
                        </div>
                    </div>
                    SessionHelpers.Remove(Constant.SESSION_MessageError);
                }
                @if (SessionHelpers.Exist(Constant.SESSION_MessageSuccess))
                {
                    <div class="panel panel-default">
                        <div class="panel-body padding5">
                            <div class="alert alert-success nomargin padding10" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeParentPanel(this);"><span aria-hidden="true">×</span></button>
                                @SessionHelpers.Get(Constant.SESSION_MessageSuccess)
                            </div>
                        </div>
                    </div>
                    SessionHelpers.Remove(Constant.SESSION_MessageSuccess);
                }
                @RenderBody()
            </div>
        </div><!-- mainpanel -->

    </section>

    <!-- Modal Default -->
    <div class="modal fade" id="modalDefault" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    </div>
    <script>
        var iclassic = {
            currentLink: "/@ViewContext.RouteData.Values["controller"]/@ViewContext.RouteData.Values["action"]"
        };
    </script>

    <script src="@Url.Content("~/js/jquery-1.11.1.min.js")"></script>
    <script src="@Url.Content("~/js/jquery-migrate-1.2.1.min.js")"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/modernizr.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.sparkline.min.js")"></script>
    <script src="@Url.Content("~/js/toggles.min.js")"></script>
    <script src="@Url.Content("~/js/retina.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.cookies.js")"></script>
    <script src="@Url.Content("~/js/select2.min.js")"></script>
    <script src="@Url.Content("~/js/custom.js")"></script>
    <script src="@Url.Content("~/Scripts/iClassic.js")"></script>
    @{
        var searchModel = new iClassic.Models.SortPagingBase();
        if (ViewBag.SearchModel != null)
        {
            searchModel = ViewBag.SearchModel as iClassic.Models.SortPagingBase;
        }
    }
    @if (isSupperAdmin)
    {
        <script>
            function changeBranch() {
                $.ajax({
                    url: '/Manage/ChangeBranch',
                    dataType: "html",
                    type: "GET",
                    contentType: 'application/html; charset=utf-8',
                    success: function (data) {
                        $("#modalDefault").html(data);
                        $("#modalDefault").modal("show");
                    },
                    error: function (xhr) {
                        alert(xhr);
                    }
                });
            }
        </script>
    }

    <script>
        function cfmDelete() {
            var isConfirm = confirm("Bạn có chắc chắn muốn xóa bản ghi này?");
            return isConfirm;
        }
        jQuery(document).ready(function () {
            "use strict";

            //if (location.protocol != 'https:') {
            //    location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
            //}

            $(".btnConfirm").click(function () {
                return cfmDelete();
            });

            $(".sortField").click(function () {
                var sortName = $(this).attr("data-sortName");
                var sortOrder = sortName == '@searchModel.SortName'
                                ? ('@((int)searchModel.SortOrder)' == '@((int)SortDirection.Ascending)'
                                    ? '@((int)SortDirection.Descending)'
                                    : '@((int)SortDirection.Ascending)'
                                  )
                                : '@((int)SortDirection.Ascending)';
                $("#SortName").val(sortName);
                $("#SortOrder").val(sortOrder);
                $("#frmSearch").submit();
            });

            $("#btnSearch").click(function () {
                $("#frmSearch").submit();
            });

            // Select2
            jQuery(".select2").select2({
                width: '100%'
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
