@using iClassic.Helper;
@using iClassic.Models;
@model Customer

@{
    ViewBag.Title = Model.Id > 0 ? "Sửa lại" : "Thêm mới";
    ViewBag.Class = "fa fa-user";
    ViewBag.Breadcrumbs = "<a href='" + Url.Action("Index") + "'>Khách hàng</a>" +
                          "<span>" + ViewBag.Title + "</span>";
    var listProductType = ViewBag.ProductTypeList as IQueryable<ProductType>;
}

<div class="row mb10 mt10">
    <div class="col-md-12">
        <h3 class="panel-title">
            @ViewBag.Title
        </h3>
    </div>
</div>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-body">
            @Html.Partial("_FormPartial", Model)
        </div>
    </div>
    <button class="btn btn-lightblue" type="submit">Lưu</button>
    <a href="@Url.Action("Index")" class="btn btn-default">Quay lại</a>
                    }

@section Styles{
    <link href="@Url.Content("~/Content/fileinput.min.css")" rel="stylesheet" />
    <style>
        .table > tbody > tr > td {
            padding: 2px 0 0 2px;
        }
    </style>

}
@section scripts{
    <script src="@Url.Content("~/Scripts/fileinput.min.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
