@model iClassic.Models.ChangePassword
@{
    ViewBag.Class = "fa fa-user";
    ViewBag.Title = "Đổi mật khẩu nhân viên: " + Model.Name;
    ViewBag.Breadcrumbs = "<a href='" + Url.Action("Employees") + "'>Nhân viên</a>" +
                            "<span>" + ViewBag.Title + "</span>";
}
<h3>@ViewBag.Title</h3>

@using (Html.BeginForm(null, null, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.Id)

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row mb10">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="Password">Mật khẩu <span class="asterisk">*</span></label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Mật khẩu" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword">Nhập lại mật khẩu <span class="asterisk">*</span></label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Nhập lại mật khẩu" })
                        <div class="text-warning">Mật khẩu phải chứa ít nhất 1 kí tự hoa, 1 kí tự số và 1 kí tự đặc biệt.</div>
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div><!-- panel-body -->
    </div><!-- panel -->
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-lightblue">Save</button>
            <a href="@Url.Action("Employees")" class="btn btn-default">Quay lại</a>
        </div>
    </div>
}

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
}